force-app/main/default/flows/HybridUsage_UpdateProductStandardPrice.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>Add_to_UpdateQueue</name>
        <label>Add to Update Queue</label>
        <locationX>800</locationX>
        <locationY>1223</locationY>
        <assignmentItems>
            <assignToReference>PriceBookEntries_Updated</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>PriceBookEntry_Updated</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_PriceBookEntries</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Load_NewStandardPrice</name>
        <label>Load New Standard Price</label>
        <locationX>536</locationX>
        <locationY>383</locationY>
        <assignmentItems>
            <assignToReference>StandardPrice_New</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.StandardPrice__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_StandardPriceBook</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>UpdatePrice</name>
        <label>Update Price</label>
        <locationX>800</locationX>
        <locationY>1103</locationY>
        <assignmentItems>
            <assignToReference>PriceBookEntry_Updated.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_PriceBookEntries.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PriceBookEntry_Updated.UnitPrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>UpdatedPrice</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_UpdateQueue</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>HasStandardPrice</name>
        <label>Has Standard Price?</label>
        <locationX>529</locationX>
        <locationY>759</locationY>
        <defaultConnector>
            <targetReference>Create_StandardPriceBookEntry</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_HasStandardPrice</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>StandardPriceBookEntry_Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_NonStandard_PriceBookEntries</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <formulas>
        <name>UpdatedPrice</name>
        <dataType>Currency</dataType>
        <expression>{!Loop_through_PriceBookEntries.UnitPrice} * ( {!StandardPrice_New} / {!StandardPrice_Old} )</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Hybrid Usage - Update Product Standard Price {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Hybrid Usage - Update Product Standard Price</label>
    <loops>
        <name>Loop_through_PriceBookEntries</name>
        <label>Loop through Price Book Entries</label>
        <locationX>712</locationX>
        <locationY>983</locationY>
        <collectionReference>Get_NonStandard_PriceBookEntries</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>UpdatePrice</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_NonStandard_PriceBookEntries</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_StandardPriceBookEntry</name>
        <label>Create Standard Price Book Entry</label>
        <locationX>360</locationX>
        <locationY>863</locationY>
        <inputAssignments>
            <field>IsActive</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Pricebook2Id</field>
            <value>
                <elementReference>StandardPriceBook_Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product2Id</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UnitPrice</field>
            <value>
                <elementReference>StandardPrice_New</elementReference>
            </value>
        </inputAssignments>
        <object>PricebookEntry</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_NonStandard_PriceBookEntries</name>
        <label>Get Non-Standard Price Book Entries</label>
        <locationX>712</locationX>
        <locationY>863</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_through_PriceBookEntries</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Product2Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Pricebook2Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>StandardPriceBook_Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>PricebookEntry</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>UnitPrice</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_StandardPriceBook</name>
        <label>Get Standard Price Book</label>
        <locationX>536</locationX>
        <locationY>503</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_StandardPriceBookEntry</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsStandard</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Pricebook2</object>
        <outputAssignments>
            <assignToReference>StandardPriceBook_Id</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_StandardPriceBookEntry</name>
        <label>Get Standard Price Book Entry</label>
        <locationX>536</locationX>
        <locationY>623</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>HasStandardPrice</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Product2Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Pricebook2Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>StandardPriceBook_Id</elementReference>
            </value>
        </filters>
        <object>PricebookEntry</object>
        <outputAssignments>
            <assignToReference>StandardPriceBookEntry_Id</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>StandardPrice_Old</assignToReference>
            <field>UnitPrice</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Update_NonStandard_PriceBookEntries</name>
        <label>Update Non-Standard Price Book Entries</label>
        <locationX>712</locationX>
        <locationY>1439</locationY>
        <connector>
            <targetReference>Update_StandardPriceBookEntry</targetReference>
        </connector>
        <inputReference>PriceBookEntries_Updated</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_StandardPriceBookEntry</name>
        <label>Update Standard Price Book Entry</label>
        <locationX>712</locationX>
        <locationY>1559</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>StandardPriceBookEntry_Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>UnitPrice</field>
            <value>
                <elementReference>StandardPrice_New</elementReference>
            </value>
        </inputAssignments>
        <object>PricebookEntry</object>
    </recordUpdates>
    <start>
        <locationX>410</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Load_NewStandardPrice</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>StandardPrice__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Product2</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>PriceBookEntries_Updated</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>PricebookEntry</objectType>
    </variables>
    <variables>
        <name>PriceBookEntry_Updated</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>PricebookEntry</objectType>
    </variables>
    <variables>
        <name>StandardPrice_New</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>StandardPrice_Old</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>StandardPriceBook_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>StandardPriceBookEntry_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
