force-app/main/default/flows/HybridUsage_InitializeUsageProduct.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <decisions>
        <name>UsageType</name>
        <label>Usage Type</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>HoldBilling</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Meter</defaultConnectorLabel>
        <rules>
            <name>Bucket</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_UsageMeters</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_ConsumptionSchedule</targetReference>
            </connector>
            <label>Bucket</label>
        </rules>
    </decisions>
    <interviewLabel>Hybrid Usage - Initialize Usage Product {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Hybrid Usage - Initialize Usage Product</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_ConsumptionSchedule</name>
        <label>Get Consumption Schedule</label>
        <locationX>50</locationX>
        <locationY>551</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Load_UsageParameters</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SBQQ__OrderItem__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>SBQQ__OrderItemConsumptionSchedule__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>SBQQ__MatchingAttribute__c</queriedFields>
        <queriedFields>SBQQ__UnitOfMeasure__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_UsageMeters</name>
        <label>Get Usage Meters</label>
        <locationX>182</locationX>
        <locationY>311</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>UsageType</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SBQQ__RequiredBy__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>OrderItem</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>HoldBilling</name>
        <label>Hold Billing</label>
        <locationX>314</locationX>
        <locationY>551</locationY>
        <inputAssignments>
            <field>blng__HoldBilling__c</field>
            <value>
                <stringValue>Yes</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Load_UsageParameters</name>
        <label>Load Usage Parameters</label>
        <locationX>50</locationX>
        <locationY>671</locationY>
        <inputAssignments>
            <field>HasUsageMeters__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MainMatchingAttribute__c</field>
            <value>
                <elementReference>Get_ConsumptionSchedule.SBQQ__MatchingAttribute__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MainUnitOfMeasure__c</field>
            <value>
                <elementReference>Get_ConsumptionSchedule.SBQQ__UnitOfMeasure__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_UsageMeters</targetReference>
        </connector>
        <object>OrderItem</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
