force-app/main/default/flows/HybridUsage_ManageProduct.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>Add_BaseTier_to_Queue</name>
        <label>Add Base Tier to Queue</label>
        <locationX>660</locationX>
        <locationY>6595</locationY>
        <assignmentItems>
            <assignToReference>ConsumptionRates</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ConsumptionRate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_OverageTier</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_OverageTier_to_Queue</name>
        <label>Add Overage Tier to Queue</label>
        <locationX>660</locationX>
        <locationY>7347</locationY>
        <assignmentItems>
            <assignToReference>ConsumptionRates</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ConsumptionRate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_ConsumptionSchedule</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_to_CreateQueue_UsageMeter</name>
        <label>Add to Create Queue</label>
        <locationX>1114</locationX>
        <locationY>12032</locationY>
        <assignmentItems>
            <assignToReference>UsageMeter.SBQQ__ConfiguredSKU__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Product_Usage.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UsageMeter.SBQQ__OptionalSKU__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>UsageMeter_Lookup.recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UsageMeter.SBQQ__Selected__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UsageMeter.SBQQ__Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Related Product</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UsageMeter.UsageType__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Meter</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ProductOption_UsageMeters_CreateQueue</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>UsageMeter</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_UsageMeterDefaults</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_to_CreateQueue_UsageMeter_0_0</name>
        <label>Add to Create Queue</label>
        <locationX>988</locationX>
        <locationY>7710</locationY>
        <assignmentItems>
            <assignToReference>ConsumptionRates_Created</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_through_ConsumptionRates</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_ConsumptionRates</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_to_Queue_and_Advance</name>
        <label>Add to Queue and Advance</label>
        <locationX>954</locationX>
        <locationY>6591</locationY>
        <assignmentItems>
            <assignToReference>ConsumptionRates</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ConsumptionRate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ConsumptionRate_ProcessingOrder</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ExistingConsumptionRate_Decision_1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_to_UpdateQueue_ConsumptionRate</name>
        <label>Add to Update Queue</label>
        <locationX>988</locationX>
        <locationY>7442</locationY>
        <assignmentItems>
            <assignToReference>ConsumptionRates_Updated</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_through_ConsumptionRates</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_ConsumptionRates</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_to_UpdateQueue_UsageMeter</name>
        <label>Add to Update Queue</label>
        <locationX>954</locationX>
        <locationY>12034</locationY>
        <assignmentItems>
            <assignToReference>ProductOption_UsageMeters_UpdateQueue</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>UsageMeter</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_NextUsageMeter</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AddMore_ByDefault</name>
        <label>Add More by Default</label>
        <locationX>1239</locationX>
        <locationY>10823</locationY>
        <assignmentItems>
            <assignToReference>AddMore_Value</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Existing_UsageMeters</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AdvanceOptionNumber</name>
        <label>Advance Option Number</label>
        <locationX>1040</locationX>
        <locationY>11762</locationY>
        <assignmentItems>
            <assignToReference>UsageMeter_OptionNumber</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ExistingUsageMeter_Decision</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Next_UpperBound</name>
        <label>Clear Next Upper Bound</label>
        <locationX>1047</locationX>
        <locationY>6855</locationY>
        <assignmentItems>
            <assignToReference>ConsumptionRate.UpperBound</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Set_AddMore_to_False</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Disable_AddMore_ConsumptionRates_1</name>
        <label>Disable Add More</label>
        <locationX>1159</locationX>
        <locationY>5736</locationY>
        <assignmentItems>
            <assignToReference>Disable_AddMore_ConsumptionRates</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AddMore_Value</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_ConsumptionRates</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Disable_AddMore_UsageMeters_1</name>
        <label>Disable Add More</label>
        <locationX>1072</locationX>
        <locationY>11063</locationY>
        <assignmentItems>
            <assignToReference>Disable_AddMore_UsageMeters</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AddMore_Value</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ChooseUsageMeters</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Display_SharedConsumptionSchedule</name>
        <label>Display Shared Consumption Schedule</label>
        <locationX>877</locationX>
        <locationY>4140</locationY>
        <assignmentItems>
            <assignToReference>SharedConsumptionSchedule</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ChooseConsumptionSchedule</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Force_Next_LowerBound</name>
        <label>Force Next Lower Bound</label>
        <locationX>1047</locationX>
        <locationY>7154</locationY>
        <assignmentItems>
            <assignToReference>ConsumptionRate.LowerBound</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>UpperBound_Previous</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AddMore_ConsumptionRates_Decision</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Force_Slab_ConsumptionSchedule</name>
        <label>Force Slab on Consumption Schedule</label>
        <locationX>660</locationX>
        <locationY>6166</locationY>
        <assignmentItems>
            <assignToReference>ConsumptionSchedule.Type</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Slab</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_IncludedTier</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Get_CountOfUsageMeters</name>
        <label>Get Count of Usage Meters</label>
        <locationX>1239</locationX>
        <locationY>10666</locationY>
        <assignmentItems>
            <assignToReference>CountOfUsageMeters</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>UsageMeters</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AddMore_ByDefault</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Initialize_ConsumptionRate</name>
        <label>Initialize Consumption Rate</label>
        <locationX>1031</locationX>
        <locationY>5299</locationY>
        <assignmentItems>
            <assignToReference>ConsumptionRate.ProcessingOrder</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ConsumptionRate.LowerBound</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ConsumptionRate.UpperBound</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ConsumptionRate.Price</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ConsumptionRate.PricingMethod</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ConsumptionRate.Id</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ConsumptionRate.ConsumptionScheduleId</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>ExistingConsumptionSchedule_Decision</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Initialize_ConsumptionSchedule</name>
        <label>Initialize Consumption Schedule</label>
        <locationX>1026</locationX>
        <locationY>3375</locationY>
        <assignmentItems>
            <assignToReference>ConsumptionSchedule.BillingTerm</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ConsumptionSchedule.BillingTermUnit</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ConsumptionSchedule.MatchingAttribute</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ConsumptionSchedule.Name</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ConsumptionSchedule.RatingMethod</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Tier</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ConsumptionSchedule.Type</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ConsumptionSchedule.UnitOfMeasure</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ConsumptionSchedule.Id</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ConsumptionSchedule.NumberOfRates</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ConsumptionSchedule.SBQQ__Category__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Get_ConsumptionSchedule</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Initialize_MainProduct</name>
        <label>Initialize Main Commitment Product</label>
        <locationX>1220</locationX>
        <locationY>734</locationY>
        <assignmentItems>
            <assignToReference>Product_Main.Name</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Product_Main.IsActive</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Product_Main.SBQQ__ChargeType__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Recurring</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Product_Main.SBQQ__SubscriptionTerm__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Product_Main.SBQQ__SubscriptionPricing__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Fixed Price</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Product_Main.SBQQ__BillingFrequency__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Product_Main.SBQQ__BillingType__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Product_Main.StandardPrice__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Product_Main.ProductCode</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Product_Main.Family</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Product_Main.UsageType__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Product_Main.SBQQ__Component__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Product_Main.Id</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Product_Main.UsageTerm__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Product_Main.OverageSurcharge__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Product_Main.CreditCarryoverType__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Product_Main.CreditDistributionAmend__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Product_Main.CarryoverFactor__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Product_Main.CarryoverLimit__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>GeneralSetup</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Initialize_MinimumCommitmentProduct</name>
        <label>Initialize Minimum Commitment Product</label>
        <locationX>1096</locationX>
        <locationY>199</locationY>
        <assignmentItems>
            <assignToReference>Product_MinimumCommitment.Name</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Product_MinimumCommitment.IsActive</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Product_MinimumCommitment.SBQQ__ChargeType__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Recurring</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Product_MinimumCommitment.SBQQ__SubscriptionTerm__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Product_MinimumCommitment.SBQQ__SubscriptionPricing__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Fixed Price</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Product_MinimumCommitment.SBQQ__BillingFrequency__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Product_MinimumCommitment.SBQQ__BillingType__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Product_MinimumCommitment.StandardPrice__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Product_MinimumCommitment.UsageType__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Minimum Commitment</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Product_MinimumCommitment.ProductCode</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Product_MinimumCommitment.Family</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Product_MinimumCommitment.UsageTerm__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Product_MinimumCommitment.CreditCarryoverType__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Product_MinimumCommitment.CreditDistributionAmend__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Product_MinimumCommitment.OverageSurcharge__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Product_MinimumCommitment.CarryoverFactor__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Product_MinimumCommitment.CarryoverLimit__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Product_MinimumCommitment.SBQQ__Component__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Product_MinimumCommitment.Id</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Initialize_UsageProduct_1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Initialize_ProductConsumptionSchedule</name>
        <label>Initialize Product Consumption Schedule</label>
        <locationX>1007</locationX>
        <locationY>3085</locationY>
        <assignmentItems>
            <assignToReference>ProductConsumptionSchedule.ProductId</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ProductConsumptionSchedule.ConsumptionScheduleId</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ProductConsumptionSchedule.Id</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Get_ProductConsumptionSchedule</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Initialize_ProductOption</name>
        <label>Initialize Product Option</label>
        <locationX>978</locationX>
        <locationY>9915</locationY>
        <assignmentItems>
            <assignToReference>ProductOption_UsageProduct.SBQQ__ConfiguredSKU__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Product_MinimumCommitment.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ProductOption_UsageProduct.SBQQ__OptionalSKU__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Product_Usage.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ProductOption_UsageProduct.SBQQ__Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ProductOption_UsageProduct.SBQQ__Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Related Product</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ProductOption_UsageProduct.SBQQ__Quantity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ProductOption_UsageProduct.SBQQ__Selected__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ProductOption_UsageProduct.UsageType__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Product_Usage.UsageType__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_UsageProductOption</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Initialize_UsageMeters</name>
        <label>Initialize Usage Meters</label>
        <locationX>1239</locationX>
        <locationY>10241</locationY>
        <assignmentItems>
            <assignToReference>UsageMeter.SBQQ__ConfiguredSKU__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UsageMeter.SBQQ__OptionalSKU__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UsageMeter.SBQQ__Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UsageMeter.Id</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UsageMeter.UsageType__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Meter</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_UsageMeters</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Initialize_UsageProduct_1</name>
        <label>Initialize Usage Product</label>
        <locationX>1096</locationX>
        <locationY>348</locationY>
        <assignmentItems>
            <assignToReference>Product_Usage.Name</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Product_Usage.IsActive</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Product_Usage.SBQQ__ChargeType__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Recurring</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Product_Usage.SBQQ__SubscriptionTerm__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Product_Usage.SBQQ__SubscriptionPricing__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Fixed Price</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Product_Usage.SBQQ__BillingFrequency__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Product_Usage.SBQQ__BillingType__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Product_Usage.StandardPrice__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Product_Usage.UsageType__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Product_Usage.ProductCode</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Product_Usage.Family</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Product_Usage.UsageTerm__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Product_Usage.CreditCarryoverType__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Product_Usage.CreditDistributionAmend__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Product_Usage.OverageSurcharge__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Product_Usage.CarryoverFactor__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Product_Usage.CarryoverLimit__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Product_Usage.SBQQ__Component__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Product_Usage.Id</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Get_Product</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Link_ConsumptionRate_to_ConsumptionSchedule</name>
        <label>Link to Consumption Schedule</label>
        <locationX>988</locationX>
        <locationY>7574</locationY>
        <assignmentItems>
            <assignToReference>Loop_through_ConsumptionRates.ConsumptionScheduleId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ConsumptionSchedule.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ExistingConsumptionRate_Decision_1_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Link_Product_to_ProductConsumptionSchedule</name>
        <label>Link Product to Product Consumption Schedule</label>
        <locationX>1241</locationX>
        <locationY>9050</locationY>
        <assignmentItems>
            <assignToReference>ProductConsumptionSchedule.ProductId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Product_Usage.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ProductConsumptionSchedule.ConsumptionScheduleId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ConsumptionSchedule.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_ConsumptionSchedule_to_Active</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Load_ExistingConsumptionSchedule</name>
        <label>Load Existing Consumption Schedule</label>
        <locationX>522</locationX>
        <locationY>4406</locationY>
        <assignmentItems>
            <assignToReference>ConsumptionSchedule</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ConsumptionSchedule_Existing</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_SharedConsumptionSchedule</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Load_ExistingConsumptionSchedule_0</name>
        <label>Load Existing Consumption Schedule</label>
        <locationX>936</locationX>
        <locationY>5156</locationY>
        <assignmentItems>
            <assignToReference>ConsumptionSchedule</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ConsumptionSchedule_Existing</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Initialize_ConsumptionRate</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_AddMore_to_False</name>
        <label>Set Add More to False</label>
        <locationX>1047</locationX>
        <locationY>7013</locationY>
        <assignmentItems>
            <assignToReference>AddMore_Value</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Disable_AddMore_ConsumptionRates</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Force_Next_LowerBound</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_AddMore_to_False_0</name>
        <label>Set Add More to False</label>
        <locationX>1114</locationX>
        <locationY>12329</locationY>
        <assignmentItems>
            <assignToReference>AddMore_Value</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Disable_AddMore_UsageMeters</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AddMore_Decision</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_ConsumptionRate_Parameters</name>
        <label>Set Consumption Rate Parameters</label>
        <locationX>954</locationX>
        <locationY>6441</locationY>
        <assignmentItems>
            <assignToReference>ConsumptionRate.LowerBound</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LowerBound</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ConsumptionRate.UpperBound</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>UpperBound</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ConsumptionRate.Price</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Price</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ConsumptionRate.PricingMethod</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PricingMethod</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ConsumptionRate.ProcessingOrder</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ConsumptionRate_ProcessingOrder</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ConsumptionRate.ConsumptionScheduleId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ConsumptionSchedule.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UpperBound_Previous</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>UpperBound</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_Queue_and_Advance</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_ConsumptionSchedule_Parameters</name>
        <label>Set Consumption Schedule Parameters</label>
        <locationX>1057</locationX>
        <locationY>4873</locationY>
        <assignmentItems>
            <assignToReference>ConsumptionSchedule.BillingTerm</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BillingTerm</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ConsumptionSchedule.BillingTermUnit</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BillingTermUnit</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ConsumptionSchedule.MatchingAttribute</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AttributeName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ConsumptionSchedule.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ConsumptionScheduleName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ConsumptionSchedule.RatingMethod</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Tier</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ConsumptionSchedule.Type</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ConsumptionScheduleType</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ConsumptionSchedule.UnitOfMeasure</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>UnitOfMeasure</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ConsumptionSchedule.SBQQ__Category__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ConsumptionScheduleCategory</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_SubscriptionTerm</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_ConsumptionSchedule_to_Active</name>
        <label>Set Consumption Schedule to Active</label>
        <locationX>1241</locationX>
        <locationY>9200</locationY>
        <assignmentItems>
            <assignToReference>ConsumptionSchedule.IsActive</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Activate_ConsumptionSchedule</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_ExistingConsumptionSchedule</name>
        <label>Set Existing Consumption Schedule</label>
        <locationX>893</locationX>
        <locationY>3773</locationY>
        <assignmentItems>
            <assignToReference>Existing_ConsumptionSchedule</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_SharedConsumptionSchedule</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_ExistingUsageProduct</name>
        <label>Set Existing Usage Product</label>
        <locationX>1407</locationX>
        <locationY>2546</locationY>
        <assignmentItems>
            <assignToReference>Existing_UsageProduct</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ChooseUsageProduct</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_IncludedTier</name>
        <label>Set Included Tier</label>
        <locationX>660</locationX>
        <locationY>6446</locationY>
        <assignmentItems>
            <assignToReference>ConsumptionRate.ProcessingOrder</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ConsumptionRate.LowerBound</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ConsumptionRate.UpperBound</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ConsumptionRate.Price</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ConsumptionRate.PricingMethod</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>FlatFee</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ConsumptionRate.ConsumptionScheduleId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ConsumptionSchedule.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_BaseTier_to_Queue</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Message_LinkToConsumptionSchedule</name>
        <label>Set Message Link to Consumption Schedule</label>
        <locationX>1558</locationX>
        <locationY>3376</locationY>
        <assignmentItems>
            <assignToReference>ChooseUsageProduct_Message</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Please select a Product linked to a Consumption Schedule</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ChooseAntoherProduct</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Message_LinkToConsumptionSchedule_0</name>
        <label>Set Message Link to Consumption Schedule</label>
        <locationX>830</locationX>
        <locationY>11422</locationY>
        <assignmentItems>
            <assignToReference>ChooseUsageProduct_Message</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Please select a Product linked to a Consumption Schedule</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ChooseAntoherProduct_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Message_SameName</name>
        <label>Set Message Same Name</label>
        <locationX>788</locationX>
        <locationY>4640</locationY>
        <assignmentItems>
            <assignToReference>ChooseConsumptionSchedule_Message</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>There&apos;s already another Consumption Schedule with the same Name.</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ChooseAntoherConsumptionScheduleName</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Message_TypeMustBeSlab</name>
        <label>Set Message Type must be Slab</label>
        <locationX>1613</locationX>
        <locationY>3894</locationY>
        <assignmentItems>
            <assignToReference>ChooseUsageProduct_Message</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Please select a Product with Consumption Schedule Type = Slab</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ChooseAntoherProduct</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Message_TypeMustBeSlab_0</name>
        <label>Set Message Type must be Slab</label>
        <locationX>790</locationX>
        <locationY>4769</locationY>
        <assignmentItems>
            <assignToReference>ChooseConsumptionSchedule_Message</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>The Consumption Schedule selected is not of Type = Slab.</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ChooseAntoherConsumptionScheduleName</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_MinimumCommitmentProduct_from_Main</name>
        <label>Set Minimum Commitment Product from Main</label>
        <locationX>1219</locationX>
        <locationY>1698</locationY>
        <assignmentItems>
            <assignToReference>Product_MinimumCommitment</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Product_Main</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>MinimumCommitmentSetup</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_OverageTier</name>
        <label>Set Overage Tier</label>
        <locationX>660</locationX>
        <locationY>7159</locationY>
        <assignmentItems>
            <assignToReference>ConsumptionRate.ProcessingOrder</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>2.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ConsumptionRate.LowerBound</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ConsumptionRate.UpperBound</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ConsumptionRate.Price</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ConsumptionRate.PricingMethod</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>PerUnit</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ConsumptionRate.ConsumptionScheduleId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ConsumptionSchedule.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_OverageTier_to_Queue</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_UsageProduct_Defaults</name>
        <label>Set Usage Product Defaults</label>
        <locationX>1128</locationX>
        <locationY>3085</locationY>
        <assignmentItems>
            <assignToReference>Product_Usage.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>UsageProductName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Product_Usage.SBQQ__BillingFrequency__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Monthly</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Product_Usage.SBQQ__BillingType__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Arrears</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Product_Usage.IsActive</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Product_Usage.SBQQ__ChargeType__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Recurring</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Product_Usage.StandardPrice__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Product_Usage.SBQQ__SubscriptionTerm__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Product_Usage.UsageType__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>UsageType_UsageProduct</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Initialize_ProductConsumptionSchedule</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_UsageProduct_from_Main</name>
        <label>Set Usage Product from Main</label>
        <locationX>1007</locationX>
        <locationY>1704</locationY>
        <assignmentItems>
            <assignToReference>Product_Usage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Product_Main</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Disable_ExistingUsageProduct</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Initialize_ProductConsumptionSchedule</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_MainProduct_GeneralParameters</name>
        <label>Update Main Product General Parameters</label>
        <locationX>1105</locationX>
        <locationY>1022</locationY>
        <assignmentItems>
            <assignToReference>Product_Main.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ProductName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Product_Main.ProductCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ProductCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Product_Main.UsageType__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>UsageType</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Product_Main.StandardPrice__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>StandardPrice</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Product_Main.SBQQ__BillingFrequency__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BillingFrequency</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Product_Main.SBQQ__BillingType__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BillingType</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_MainProduct</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_MinimumCommitment_Parameters</name>
        <label>Update Minimum Commitment Parameters</label>
        <locationX>1218</locationX>
        <locationY>1993</locationY>
        <assignmentItems>
            <assignToReference>Product_MinimumCommitment.SBQQ__SubscriptionTerm__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CommitmentTerm</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Product_MinimumCommitment.UsageTerm__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>UsageTerm</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Product_MinimumCommitment.CreditCarryoverType__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CreditTypes.topValue</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Product_MinimumCommitment.CreditDistributionAmend__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CreditTypes.middleValue</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Product_MinimumCommitment.CarryoverFactor__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CarryoverFactor</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Product_MinimumCommitment.CarryoverLimit__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CarryoverLimit</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Product_MinimumCommitment.OverageSurcharge__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OverageSurcharge</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_UsageProductOption_Existing</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_SubscriptionTerm</name>
        <label>Update Subscription Term</label>
        <locationX>1057</locationX>
        <locationY>5053</locationY>
        <assignmentItems>
            <assignToReference>Product_Usage.SBQQ__SubscriptionTerm__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BillingTerm</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Initialize_ConsumptionRate</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_UsageMeter</name>
        <label>Update Usage Meter</label>
        <locationX>1039</locationX>
        <locationY>11625</locationY>
        <assignmentItems>
            <assignToReference>UsageMeter.SBQQ__OptionalSKU__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>UsageMeter_Lookup.recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UsageMeter.SBQQ__Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>UsageMeter_OptionNumber</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AdvanceOptionNumber</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_UsageMeterDefaults</name>
        <label>Update Usage Meter Defaults</label>
        <locationX>1114</locationX>
        <locationY>12184</locationY>
        <assignmentItems>
            <assignToReference>UsageMeter.SBQQ__OptionalSKU__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Set_AddMore_to_False_0</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Bucket_Choice</name>
        <choiceText>Bucket</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Bucket</stringValue>
        </value>
    </choices>
    <choices>
        <name>MinimumCommitment_Choice</name>
        <choiceText>Minimum Commitment</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Minimum Commitment</stringValue>
        </value>
    </choices>
    <choices>
        <name>Slab_Choice</name>
        <choiceText>Slab</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Slab</stringValue>
        </value>
    </choices>
    <choices>
        <name>Standard_Choice</name>
        <choiceText>Standard</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Standard</stringValue>
        </value>
    </choices>
    <decisions>
        <name>AddMore_ConsumptionRates_Decision</name>
        <label>Add More?</label>
        <locationX>1156</locationX>
        <locationY>7156</locationY>
        <defaultConnector>
            <targetReference>Create_ConsumptionSchedule</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_AddMore_ConsumptionRates</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>AddMore_ConsumptionRates.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>EditConsumptionRate</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>AddMore_Decision</name>
        <label>Add More?</label>
        <locationX>1222</locationX>
        <locationY>12439</locationY>
        <defaultConnector>
            <targetReference>Create_UsageMeterOptions</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_AddMore</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>AddMore_UsageMeters.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ChooseUsageMeters</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_UsageProductOption_Exists</name>
        <label>Check if Usage Product Option Exists</label>
        <locationX>1106</locationX>
        <locationY>9916</locationY>
        <defaultConnector>
            <targetReference>Initialize_ProductOption</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_UsageProductExists</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>ProductOption_UsageProduct.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_UsageBucket</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>DuplicateConsumptionSchedule_Decision</name>
        <label>Duplicate Consumption Schedule?</label>
        <locationX>1050</locationX>
        <locationY>4641</locationY>
        <defaultConnector>
            <targetReference>Set_ConsumptionSchedule_Parameters</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_DuplicateConsumptionSchedule</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ConsumptionSchedule_Existing.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ConsumptionSchedule.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ConsumptionSchedule_Existing.Id</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>ConsumptionSchedule.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Message_SameName</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>EditConsumptionSchedule_Decision</name>
        <label>Edit Consumption Schedule?</label>
        <locationX>927</locationX>
        <locationY>4962</locationY>
        <defaultConnector>
            <targetReference>Load_ExistingConsumptionSchedule_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_EditConsumptionSchedule</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>EditConsumptionSchedule.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Load_ExistingConsumptionSchedule</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Existing_ConsumptionRates</name>
        <label>Existing Consumption Rates?</label>
        <locationX>1263</locationX>
        <locationY>5619</locationY>
        <defaultConnector>
            <targetReference>Get_ConsumptionRates</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_ExistingConsumptionRates</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ConsumptionSchedule.NumberOfRates</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Disable_AddMore_ConsumptionRates_1</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Existing_MainProduct</name>
        <label>Exists?</label>
        <locationX>1088</locationX>
        <locationY>640</locationY>
        <defaultConnector>
            <targetReference>Initialize_MainProduct</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_ExistingMainProduct_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Product_Main.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GeneralSetup</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Existing_UsageMeters</name>
        <label>Existing Usage Meters?</label>
        <locationX>1231</locationX>
        <locationY>10960</locationY>
        <defaultConnector>
            <targetReference>ChooseUsageMeters</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_ExistingUsageMeters</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CountOfUsageMeters</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Disable_AddMore_UsageMeters_1</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>ExistingConsumptionRate_Decision_1</name>
        <label>Existing Consumption Rate?</label>
        <locationX>946</locationX>
        <locationY>6740</locationY>
        <defaultConnector>
            <targetReference>Assign_Next_UpperBound</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_ExistingConsumptionRate_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ConsumptionRate.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Next_ConsumptionRate</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>ExistingConsumptionRate_Decision_1_0</name>
        <label>Existing Consumption Rate?</label>
        <locationX>809</locationX>
        <locationY>7576</locationY>
        <defaultConnector>
            <targetReference>Add_to_CreateQueue_UsageMeter_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_ExistingConsumptionRate_1_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ConsumptionRate.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_to_UpdateQueue_ConsumptionRate</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>ExistingConsumptionSchedule_Decision</name>
        <label>Existing Consumption Schedule?</label>
        <locationX>1125</locationX>
        <locationY>5465</locationY>
        <defaultConnector>
            <targetReference>Is_MinimumCommitment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_ExistingConsumptionSchedule</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ConsumptionSchedule.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Existing_ConsumptionRates</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>ExistingConsumptionSchedule_Decision_0</name>
        <label>Existing Consumption Schedule?</label>
        <locationX>1018</locationX>
        <locationY>3681</locationY>
        <defaultConnector>
            <targetReference>Check_SharedConsumptionSchedule</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_ExistingConsumptionSchedule_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ConsumptionSchedule.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_ExistingConsumptionSchedule</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>ExistingMainProduct_Decision</name>
        <label>Existing Main Product?</label>
        <locationX>1096</locationX>
        <locationY>1309</locationY>
        <defaultConnector>
            <targetReference>UsageType_Decision</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_ExistingMainProduct</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Product_Main_Existing.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ChooseAntoherProductName</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>ExistingUsageMeter_Decision</name>
        <label>Existing Usage Meter</label>
        <locationX>1032</locationX>
        <locationY>11917</locationY>
        <defaultConnector>
            <targetReference>Add_to_CreateQueue_UsageMeter</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_ExistingUsageMeter</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>UsageMeter.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_to_UpdateQueue_UsageMeter</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>ExistingUsageProduct_Decision</name>
        <label>Existing Usage Product?</label>
        <locationX>1211</locationX>
        <locationY>2960</locationY>
        <defaultConnector>
            <targetReference>Set_UsageProduct_Defaults</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_ExistingUsageProduct</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Product_Usage.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_ProductConsumptionSchedule_0</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>ExistingUsageProduct_Decision_0</name>
        <label>Existing Usage Product?</label>
        <locationX>1210</locationX>
        <locationY>2439</locationY>
        <defaultConnector>
            <targetReference>ChooseUsageProduct</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_ExistingUsageProduct_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Product_Usage.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_ExistingUsageProduct</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_ConsumptionSchedule_Shared</name>
        <label>Is Consumption Schedule Shared?</label>
        <locationX>1018</locationX>
        <locationY>4036</locationY>
        <defaultConnector>
            <targetReference>ChooseConsumptionSchedule</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_ConsumptionScheduleShared</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ProductConsumptionSchedule_Shared.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Display_SharedConsumptionSchedule</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Linked_to_ConsumptionSchedule</name>
        <label>Is Linked to Consumption Schedule?</label>
        <locationX>1211</locationX>
        <locationY>3378</locationY>
        <defaultConnector>
            <targetReference>Set_Message_LinkToConsumptionSchedule</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_LinkedToUsageProduct</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ProductConsumptionSchedule.ConsumptionScheduleId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_ConsumptionSchedule_0</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Linked_to_ConsumptionSchedule_0</name>
        <label>Is Linked to Consumption Schedule?</label>
        <locationX>1030</locationX>
        <locationY>11422</locationY>
        <defaultConnector>
            <targetReference>Set_Message_LinkToConsumptionSchedule_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_LinkedToUsageProduct_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ProductConsumptionSchedule.ConsumptionScheduleId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_UsageMeter</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_MinimumCommitment</name>
        <label>Is Minimum Commitment?</label>
        <locationX>653</locationX>
        <locationY>5954</locationY>
        <defaultConnector>
            <targetReference>EditConsumptionRate</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_MinimumCommitment</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>UsageType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Minimum Commitment</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Force_Slab_ConsumptionSchedule</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_MinimumCommitment_0</name>
        <label>Is Minimum Commitment?</label>
        <locationX>1255</locationX>
        <locationY>6135</locationY>
        <defaultConnector>
            <targetReference>EditConsumptionRate</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_MinimumCommitment_0</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>UsageType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Minimum Commitment</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UsageType_Decision_1</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Slab</name>
        <label>Is Slab?</label>
        <locationX>1211</locationX>
        <locationY>3896</locationY>
        <defaultConnector>
            <targetReference>Set_Message_TypeMustBeSlab</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Slab</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ConsumptionSchedule.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Slab</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ExistingConsumptionSchedule_Decision</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Slab_0</name>
        <label>Is Slab?</label>
        <locationX>927</locationX>
        <locationY>4771</locationY>
        <defaultConnector>
            <targetReference>Set_Message_TypeMustBeSlab_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Slab_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ConsumptionSchedule_Existing.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Slab</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>EditConsumptionSchedule_Decision</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_UsageBucket</name>
        <label>Is Usage Bucket?</label>
        <locationX>1106</locationX>
        <locationY>10124</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_UsageBucket</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Product_Usage.UsageType__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Bucket</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Initialize_UsageMeters</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Last_ConsumptionRate</name>
        <label>Last Consumption Rate?</label>
        <locationX>848</locationX>
        <locationY>7016</locationY>
        <defaultConnector>
            <targetReference>Force_Next_LowerBound</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_LastConsumptionRate</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ConsumptionRate_ProcessingOrder</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>ConsumptionSchedule.NumberOfRates</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_AddMore_to_False</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Last_UsageMeter</name>
        <label>Last Usage Meter?</label>
        <locationX>946</locationX>
        <locationY>12439</locationY>
        <defaultConnector>
            <targetReference>AddMore_Decision</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_LastUsageMeter</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>UsageMeter_OptionNumber</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>CountOfUsageMeters</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_AddMore_to_False_0</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>MinimumCommitmentProduct_Exists</name>
        <label>Exists? (Minimum Commitment)</label>
        <locationX>1114</locationX>
        <locationY>8309</locationY>
        <defaultConnector>
            <targetReference>Create_MinimumCommitment_Product</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_MinimumCommitmentProductExists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Product_MinimumCommitment.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_MinimumCommitment_Product</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>ProductConsumptionSchedule_Exists</name>
        <label>Exists? (Product Consumption Schedule)</label>
        <locationX>1233</locationX>
        <locationY>9509</locationY>
        <defaultConnector>
            <targetReference>Update_ProductConsumptionSchedule_1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_ProductConsumptionScheduleExists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ProductConsumptionSchedule.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_ProductConsumptionSchedule</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Selected_ExistingConsumption_Schedule</name>
        <label>Selected Existing Consumption Schedule?</label>
        <locationX>1010</locationX>
        <locationY>4425</locationY>
        <defaultConnector>
            <targetReference>DuplicateConsumptionSchedule_Decision</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_SelectedExistingConsumptionSchedule</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ExistingConsumptionSchedule.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_Slab_0</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>UsageProduct_Exists</name>
        <label>Exists? (Usage)</label>
        <locationX>1237</locationX>
        <locationY>8817</locationY>
        <defaultConnector>
            <targetReference>Create_UsageProduct</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_UsageProductExists_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Product_Usage.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Usage_Product</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>UsageType_Decision</name>
        <label>Usage Type?</label>
        <locationX>1097</locationX>
        <locationY>1512</locationY>
        <defaultConnector>
            <targetReference>Set_UsageProduct_from_Main</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Standard or Bucket</defaultConnectorLabel>
        <rules>
            <name>MinimumCommitment</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>UsageType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Minimum Commitment</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_MinimumCommitmentProduct_from_Main</targetReference>
            </connector>
            <label>Minimum Commitment</label>
        </rules>
        <rules>
            <name>Meter</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>UsageType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Meter</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ChooseAntoherUsageType</targetReference>
            </connector>
            <label>Meter</label>
        </rules>
    </decisions>
    <decisions>
        <name>UsageType_Decision_1</name>
        <label>Usage Type?</label>
        <locationX>1255</locationX>
        <locationY>8068</locationY>
        <defaultConnector>
            <targetReference>UsageProduct_Exists</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Standard or Bucket</defaultConnectorLabel>
        <rules>
            <name>MinimumCommitment_1</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>UsageType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Minimum Commitment</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>MinimumCommitmentProduct_Exists</targetReference>
            </connector>
            <label>Minimum Commitment</label>
        </rules>
    </decisions>
    <decisions>
        <name>UsageType_Decision_2</name>
        <label>Usage Type?</label>
        <locationX>1238</locationX>
        <locationY>9779</locationY>
        <defaultConnectorLabel>Standard</defaultConnectorLabel>
        <rules>
            <name>MinimumCommitment_2</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>UsageType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Minimum Commitment</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_if_UsageProductOption_Exists</targetReference>
            </connector>
            <label>Minimum Commitment</label>
        </rules>
        <rules>
            <name>Bucket</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>UsageType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Bucket</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Initialize_UsageMeters</targetReference>
            </connector>
            <label>Bucket</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>BillingFrequency_Choice</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>SBQQ__BillingFrequency__c</picklistField>
        <picklistObject>Product2</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>BillingTermUnit_Choice</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>BillingTermUnit</picklistField>
        <picklistObject>ConsumptionSchedule</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>BillingType_Choice</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>SBQQ__BillingType__c</picklistField>
        <picklistObject>Product2</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ConsumptionScheduleCategory_Choice</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>SBQQ__Category__c</picklistField>
        <picklistObject>ConsumptionSchedule</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ConsumptionScheduleType_Choice</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Type</picklistField>
        <picklistObject>ConsumptionSchedule</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>CreditCarryoverType_Choice</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>CreditCarryoverType__c</picklistField>
        <picklistObject>Product2</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>PricingMethod_Choice</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>PricingMethod</picklistField>
        <picklistObject>ConsumptionRate</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ProductFamily_Choice</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Family</picklistField>
        <picklistObject>Product2</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>UnitOfMeasure_Choice</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>UnitOfMeasure</picklistField>
        <picklistObject>ConsumptionSchedule</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>UsageType_Choice</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>UsageType__c</picklistField>
        <picklistObject>Product2</picklistObject>
    </dynamicChoiceSets>
    <formulas>
        <name>FX_ContinueAddingMore</name>
        <dataType>Boolean</dataType>
        <expression>NOT({!UsageMeter_OptionNumber} = {!CountOfUsageMeters})</expression>
    </formulas>
    <interviewLabel>Hybrid Usage - Manage Product {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Hybrid Usage - Manage Product</label>
    <loops>
        <name>Loop_through_ConsumptionRates</name>
        <label>Loop through Consumption Rates</label>
        <locationX>1165</locationX>
        <locationY>7573</locationY>
        <collectionReference>ConsumptionRates</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Link_ConsumptionRate_to_ConsumptionSchedule</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_ConsumptionRates</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_ConsumptionRates</name>
        <label>Create Consumption Rates</label>
        <locationX>1164</locationX>
        <locationY>7873</locationY>
        <connector>
            <targetReference>UsageType_Decision_1</targetReference>
        </connector>
        <inputReference>ConsumptionRates_Created</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_ConsumptionSchedule</name>
        <label>Create Consumption Schedule</label>
        <locationX>1165</locationX>
        <locationY>7347</locationY>
        <connector>
            <targetReference>Loop_through_ConsumptionRates</targetReference>
        </connector>
        <inputReference>ConsumptionSchedule</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_MinimumCommitment_Product</name>
        <label>Create</label>
        <locationX>1057</locationX>
        <locationY>8527</locationY>
        <connector>
            <targetReference>UsageProduct_Exists</targetReference>
        </connector>
        <inputReference>Product_MinimumCommitment</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_UsageMeterOptions</name>
        <label>Create Usage Meter Options</label>
        <locationX>1230</locationX>
        <locationY>12627</locationY>
        <connector>
            <targetReference>Update_UsageMeters</targetReference>
        </connector>
        <inputReference>ProductOption_UsageMeters_CreateQueue</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_UsageProduct</name>
        <label>Create</label>
        <locationX>1176</locationX>
        <locationY>8913</locationY>
        <connector>
            <targetReference>Link_Product_to_ProductConsumptionSchedule</targetReference>
        </connector>
        <inputReference>Product_Usage</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_UsageProductOption</name>
        <label>Create Usage Product Option</label>
        <locationX>978</locationX>
        <locationY>10122</locationY>
        <connector>
            <targetReference>Is_UsageBucket</targetReference>
        </connector>
        <inputReference>ProductOption_UsageProduct</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Update_ProductConsumptionSchedule_1</name>
        <label>Update</label>
        <locationX>1142</locationX>
        <locationY>9612</locationY>
        <connector>
            <targetReference>UsageType_Decision_2</targetReference>
        </connector>
        <inputReference>ProductConsumptionSchedule</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Check_SharedConsumptionSchedule</name>
        <label>Check Shared Consumption Schedule</label>
        <locationX>1026</locationX>
        <locationY>3883</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_ConsumptionSchedule_Shared</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ConsumptionScheduleId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ConsumptionSchedule.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>ProductId</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>Product_Usage.Id</elementReference>
            </value>
        </filters>
        <object>ProductConsumptionSchedule</object>
        <outputReference>ProductConsumptionSchedule_Shared</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>ProductId</queriedFields>
        <queriedFields>ConsumptionScheduleId</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_ConsumptionRates</name>
        <label>Get Consumption Rates</label>
        <locationX>1263</locationX>
        <locationY>5844</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_FirstConsumptionRate</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ConsumptionScheduleId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ConsumptionSchedule.Id</elementReference>
            </value>
        </filters>
        <object>ConsumptionRate</object>
        <outputReference>ConsumptionRates</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>ProcessingOrder</queriedFields>
        <queriedFields>LowerBound</queriedFields>
        <queriedFields>UpperBound</queriedFields>
        <queriedFields>Price</queriedFields>
        <queriedFields>PricingMethod</queriedFields>
        <queriedFields>ConsumptionScheduleId</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_ConsumptionSchedule</name>
        <label>Get Consumption Schedule</label>
        <locationX>1026</locationX>
        <locationY>3529</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ExistingConsumptionSchedule_Decision_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ProductConsumptionSchedule.ConsumptionScheduleId</elementReference>
            </value>
        </filters>
        <object>ConsumptionSchedule</object>
        <outputReference>ConsumptionSchedule</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>UnitOfMeasure</queriedFields>
        <queriedFields>MatchingAttribute</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>BillingTerm</queriedFields>
        <queriedFields>BillingTermUnit</queriedFields>
        <queriedFields>IsActive</queriedFields>
        <queriedFields>Type</queriedFields>
        <queriedFields>SBQQ__Category__c</queriedFields>
        <queriedFields>RatingMethod</queriedFields>
        <queriedFields>NumberOfRates</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_ConsumptionSchedule_0</name>
        <label>Get Consumption Schedule</label>
        <locationX>1220</locationX>
        <locationY>3589</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Slab</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ProductConsumptionSchedule.ConsumptionScheduleId</elementReference>
            </value>
        </filters>
        <object>ConsumptionSchedule</object>
        <outputReference>ConsumptionSchedule</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>UnitOfMeasure</queriedFields>
        <queriedFields>MatchingAttribute</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>BillingTerm</queriedFields>
        <queriedFields>BillingTermUnit</queriedFields>
        <queriedFields>IsActive</queriedFields>
        <queriedFields>Type</queriedFields>
        <queriedFields>SBQQ__Category__c</queriedFields>
        <queriedFields>RatingMethod</queriedFields>
        <queriedFields>NumberOfRates</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_ExistingConsumptionSchedule</name>
        <label>Get Existing Consumption Schedule</label>
        <locationX>905</locationX>
        <locationY>4361</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Selected_ExistingConsumption_Schedule</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ConsumptionSchedule_Lookup.recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ConsumptionScheduleName</elementReference>
            </value>
        </filters>
        <object>ConsumptionSchedule</object>
        <outputReference>ConsumptionSchedule_Existing</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>UnitOfMeasure</queriedFields>
        <queriedFields>MatchingAttribute</queriedFields>
        <queriedFields>BillingTerm</queriedFields>
        <queriedFields>BillingTermUnit</queriedFields>
        <queriedFields>Type</queriedFields>
        <queriedFields>RatingMethod</queriedFields>
        <queriedFields>SBQQ__Category__c</queriedFields>
        <queriedFields>NumberOfRates</queriedFields>
        <queriedFields>IsActive</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_ExistingUsageProduct</name>
        <label>Get Existing Usage Product</label>
        <locationX>1219</locationX>
        <locationY>2825</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ExistingUsageProduct_Decision</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ProductOption_UsageProduct.SBQQ__OptionalSKU__c</elementReference>
            </value>
        </filters>
        <object>Product2</object>
        <outputReference>Product_Usage</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>UsageType__c</queriedFields>
        <queriedFields>IsActive</queriedFields>
        <queriedFields>SBQQ__Component__c</queriedFields>
        <queriedFields>ProductCode</queriedFields>
        <queriedFields>Family</queriedFields>
        <queriedFields>SBQQ__ChargeType__c</queriedFields>
        <queriedFields>SBQQ__SubscriptionTerm__c</queriedFields>
        <queriedFields>SBQQ__SubscriptionPricing__c</queriedFields>
        <queriedFields>SBQQ__BillingFrequency__c</queriedFields>
        <queriedFields>SBQQ__BillingType__c</queriedFields>
        <queriedFields>StandardPrice__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_FirstConsumptionRate</name>
        <label>Get First Consumption Rate</label>
        <locationX>1263</locationX>
        <locationY>5984</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_MinimumCommitment_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ConsumptionScheduleId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ConsumptionSchedule.Id</elementReference>
            </value>
        </filters>
        <object>ConsumptionRate</object>
        <outputReference>ConsumptionRate</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>ProcessingOrder</queriedFields>
        <queriedFields>LowerBound</queriedFields>
        <queriedFields>UpperBound</queriedFields>
        <queriedFields>Price</queriedFields>
        <queriedFields>PricingMethod</queriedFields>
        <queriedFields>ConsumptionScheduleId</queriedFields>
        <sortField>ProcessingOrder</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Get_FirstUsageMeter</name>
        <label>Get First Usage Meter</label>
        <locationX>1239</locationX>
        <locationY>10508</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_CountOfUsageMeters</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SBQQ__ConfiguredSKU__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Product_Usage.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>SBQQ__ConfiguredSKU__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>SBQQ__ProductOption__c</object>
        <outputReference>UsageMeter</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>SBQQ__Number__c</queriedFields>
        <queriedFields>SBQQ__OptionalSKU__c</queriedFields>
        <sortField>SBQQ__Number__c</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Get_MainProduct</name>
        <label>Get Main Product</label>
        <locationX>1105</locationX>
        <locationY>1170</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ExistingMainProduct_Decision</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Product_Main.Name</elementReference>
            </value>
        </filters>
        <object>Product2</object>
        <outputReference>Product_Main_Existing</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Next_ConsumptionRate</name>
        <label>Get Next Consumption Rate</label>
        <locationX>856</locationX>
        <locationY>6852</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Last_ConsumptionRate</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ConsumptionScheduleId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ConsumptionRate.ConsumptionScheduleId</elementReference>
            </value>
        </filters>
        <filters>
            <field>ConsumptionScheduleId</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>ProcessingOrder</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ConsumptionRate_ProcessingOrder</elementReference>
            </value>
        </filters>
        <object>ConsumptionRate</object>
        <outputReference>ConsumptionRate</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>ProcessingOrder</queriedFields>
        <queriedFields>LowerBound</queriedFields>
        <queriedFields>UpperBound</queriedFields>
        <queriedFields>Price</queriedFields>
        <queriedFields>PricingMethod</queriedFields>
        <queriedFields>ConsumptionScheduleId</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_NextUsageMeter</name>
        <label>Get Next Usage Meter</label>
        <locationX>954</locationX>
        <locationY>12181</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Last_UsageMeter</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SBQQ__ConfiguredSKU__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Product_Usage.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>SBQQ__Number__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>UsageMeter_OptionNumber</elementReference>
            </value>
        </filters>
        <object>SBQQ__ProductOption__c</object>
        <outputReference>UsageMeter</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>SBQQ__Number__c</queriedFields>
        <queriedFields>SBQQ__OptionalSKU__c</queriedFields>
        <queriedFields>SBQQ__ConfiguredSKU__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Product</name>
        <label>Get Product</label>
        <locationX>1096</locationX>
        <locationY>498</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Existing_MainProduct</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Product2</object>
        <outputReference>Product_Main</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>UsageType__c</queriedFields>
        <queriedFields>ProductCode</queriedFields>
        <queriedFields>StandardPrice__c</queriedFields>
        <queriedFields>Family</queriedFields>
        <queriedFields>SBQQ__BillingFrequency__c</queriedFields>
        <queriedFields>SBQQ__BillingType__c</queriedFields>
        <queriedFields>SBQQ__SubscriptionTerm__c</queriedFields>
        <queriedFields>UsageTerm__c</queriedFields>
        <queriedFields>CreditCarryoverType__c</queriedFields>
        <queriedFields>CreditDistributionAmend__c</queriedFields>
        <queriedFields>OverageSurcharge__c</queriedFields>
        <queriedFields>CarryoverFactor__c</queriedFields>
        <queriedFields>CarryoverLimit__c</queriedFields>
        <queriedFields>IsActive</queriedFields>
        <queriedFields>SBQQ__Component__c</queriedFields>
        <queriedFields>SBQQ__SubscriptionPricing__c</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>SBQQ__ChargeType__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_ProductConsumptionSchedule</name>
        <label>Get Product Consumption Schedule</label>
        <locationX>1025</locationX>
        <locationY>3213</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Initialize_ConsumptionSchedule</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ProductId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Product_Usage.Id</elementReference>
            </value>
        </filters>
        <object>ProductConsumptionSchedule</object>
        <outputReference>ProductConsumptionSchedule</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>ProductId</queriedFields>
        <queriedFields>ConsumptionScheduleId</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_ProductConsumptionSchedule_0</name>
        <label>Get Product Consumption Schedule</label>
        <locationX>1219</locationX>
        <locationY>3213</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Linked_to_ConsumptionSchedule</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ProductId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Product_Usage.Id</elementReference>
            </value>
        </filters>
        <object>ProductConsumptionSchedule</object>
        <outputReference>ProductConsumptionSchedule</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>ProductId</queriedFields>
        <queriedFields>ConsumptionScheduleId</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_ProductConsumptionSchedule_0_0</name>
        <label>Get Product Consumption Schedule</label>
        <locationX>1039</locationX>
        <locationY>11261</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Linked_to_ConsumptionSchedule_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ProductId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>UsageMeter_Lookup.recordId</elementReference>
            </value>
        </filters>
        <object>ProductConsumptionSchedule</object>
        <outputReference>ProductConsumptionSchedule</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>ProductId</queriedFields>
        <queriedFields>ConsumptionScheduleId</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_UsageMeters</name>
        <label>Get Usage Meters</label>
        <locationX>1239</locationX>
        <locationY>10381</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_FirstUsageMeter</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SBQQ__ConfiguredSKU__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Product_Usage.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>SBQQ__ConfiguredSKU__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>SBQQ__ProductOption__c</object>
        <outputReference>UsageMeters</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>SBQQ__Number__c</queriedFields>
        <queriedFields>SBQQ__OptionalSKU__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_UsageProduct_Existing</name>
        <label>Get Usage Product</label>
        <locationX>1218</locationX>
        <locationY>2303</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ExistingUsageProduct_Decision_0</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ProductOption_UsageProduct.SBQQ__OptionalSKU__c</elementReference>
            </value>
        </filters>
        <object>Product2</object>
        <outputReference>Product_Usage</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>UsageType__c</queriedFields>
        <queriedFields>IsActive</queriedFields>
        <queriedFields>SBQQ__Component__c</queriedFields>
        <queriedFields>ProductCode</queriedFields>
        <queriedFields>Family</queriedFields>
        <queriedFields>SBQQ__ChargeType__c</queriedFields>
        <queriedFields>SBQQ__SubscriptionTerm__c</queriedFields>
        <queriedFields>SBQQ__SubscriptionPricing__c</queriedFields>
        <queriedFields>SBQQ__BillingFrequency__c</queriedFields>
        <queriedFields>SBQQ__BillingType__c</queriedFields>
        <queriedFields>StandardPrice__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_UsageProductOption_Existing</name>
        <label>Get Usage Product Option</label>
        <locationX>1218</locationX>
        <locationY>2155</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_UsageProduct_Existing</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SBQQ__ConfiguredSKU__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Product_MinimumCommitment.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>SBQQ__ConfiguredSKU__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>SBQQ__ProductOption__c</object>
        <outputReference>ProductOption_UsageProduct</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>SBQQ__OptionalSKU__c</queriedFields>
        <queriedFields>UsageType__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Activate_ConsumptionSchedule</name>
        <label>Activate Consumption Schedule</label>
        <locationX>1241</locationX>
        <locationY>9347</locationY>
        <connector>
            <targetReference>ProductConsumptionSchedule_Exists</targetReference>
        </connector>
        <inputReference>ConsumptionSchedule</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_ConsumptionRates</name>
        <label>Update Consumption Rates</label>
        <locationX>1163</locationX>
        <locationY>7724</locationY>
        <connector>
            <targetReference>Create_ConsumptionRates</targetReference>
        </connector>
        <inputReference>ConsumptionRates_Updated</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_MinimumCommitment_Product</name>
        <label>Update</label>
        <locationX>1184</locationX>
        <locationY>8524</locationY>
        <connector>
            <targetReference>UsageProduct_Exists</targetReference>
        </connector>
        <inputReference>Product_MinimumCommitment</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_ProductConsumptionSchedule</name>
        <label>Update</label>
        <locationX>1343</locationX>
        <locationY>9610</locationY>
        <connector>
            <targetReference>UsageType_Decision_2</targetReference>
        </connector>
        <inputReference>ProductConsumptionSchedule</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Usage_Product</name>
        <label>Update</label>
        <locationX>1306</locationX>
        <locationY>8914</locationY>
        <connector>
            <targetReference>Link_Product_to_ProductConsumptionSchedule</targetReference>
        </connector>
        <inputReference>Product_Usage</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_UsageMeters</name>
        <label>Update Usage Meters</label>
        <locationX>1230</locationX>
        <locationY>12776</locationY>
        <inputReference>ProductOption_UsageMeters_UpdateQueue</inputReference>
    </recordUpdates>
    <screens>
        <name>ChooseAntoherConsumptionScheduleName</name>
        <label>Choose Another Consumption Schedule</label>
        <locationX>636</locationX>
        <locationY>4706</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>Select New</backButtonLabel>
        <connector>
            <targetReference>Load_ExistingConsumptionSchedule</targetReference>
        </connector>
        <fields>
            <name>ChooseAnother_ConsumptionScheduleName_Message</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;{!ChooseConsumptionSchedule_Message}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;What do you want to do?&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Edit Existing</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>ChooseAntoherProduct</name>
        <label>Choose Another Product</label>
        <locationX>1604</locationX>
        <locationY>2682</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>ChooseUsageProduct</targetReference>
        </connector>
        <fields>
            <name>ChooseAnotherProduct_Message</name>
            <fieldText>&lt;p&gt;{!ChooseUsageProduct_Message}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>ChooseAntoherProduct_0</name>
        <label>Choose Another Product</label>
        <locationX>830</locationX>
        <locationY>11195</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>ChooseUsageMeters</targetReference>
        </connector>
        <fields>
            <name>ChooseAnotherProduct_Message_0</name>
            <fieldText>&lt;p&gt;{!ChooseUsageProduct_Message}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>ChooseAntoherProductName</name>
        <label>Choose Another Product Name</label>
        <locationX>826</locationX>
        <locationY>892</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>GeneralSetup</targetReference>
        </connector>
        <fields>
            <name>ChooseAnother_ProductName_Message</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;There&apos;s already another product with the same name&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>ChooseAntoherUsageType</name>
        <label>Choose Another Usage Type</label>
        <locationX>1558</locationX>
        <locationY>892</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>GeneralSetup</targetReference>
        </connector>
        <fields>
            <name>ChooseAnother_UsageType_Message</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Can&apos;t create a standalone Meter product&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>ChooseConsumptionSchedule</name>
        <label>Choose Consumption Schedule</label>
        <locationX>1018</locationX>
        <locationY>4288</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_ExistingConsumptionSchedule</targetReference>
        </connector>
        <fields>
            <name>ChooseConsumptionSchedule_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>ChooseConsumptionSchedule_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>ExistingConsumptionSchedule</name>
                    <extensionName>flowruntime:toggle</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Existing Consumption Schedule</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>messageToggleActive</name>
                        <value>
                            <stringValue>Yes</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>messageToggleInactive</name>
                        <value>
                            <stringValue>No</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>value</name>
                        <value>
                            <elementReference>Existing_ConsumptionSchedule</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>ChooseConsumptionSchedule_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>ConsumptionSchedule_Lookup</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>ConsumptionScheduleId</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Consumption Schedule</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>ConsumptionRate</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>ConsumptionSchedule.Id</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>ExistingConsumptionSchedule.value</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>EditConsumptionSchedule</name>
                    <extensionName>flowruntime:toggle</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Edit</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>messageToggleActive</name>
                        <value>
                            <stringValue>Yes</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>messageToggleInactive</name>
                        <value>
                            <stringValue>No</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>value</name>
                        <value>
                            <booleanValue>false</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>ExistingConsumptionSchedule.value</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>ChooseConsumptionSchedule_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>ChooseConsumptionSchedule_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>ConsumptionSchedule_Shared_Message</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px; color: rgb(255, 0, 0);&quot;&gt;* This Consumption Schedule is linked to multiple Products.&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>SharedConsumptionSchedule</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>ConsumptionScheduleName</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>ConsumptionSchedule.Name</elementReference>
                    </defaultValue>
                    <fieldText>Consumption Schedule Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>ExistingConsumptionSchedule.value</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>ChooseConsumptionSchedule_Section3</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>ChooseConsumptionSchedule_Section3_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>UnitOfMeasure</name>
                    <choiceReferences>UnitOfMeasure_Choice</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>ConsumptionSchedule.UnitOfMeasure</elementReference>
                    </defaultValue>
                    <fieldText>Unit of Measure</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>AttributeName</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>ConsumptionSchedule.MatchingAttribute</elementReference>
                    </defaultValue>
                    <fieldText>Attribute Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>TypeSlab</name>
                    <choiceReferences>Slab_Choice</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <stringValue>Slab</stringValue>
                    </defaultValue>
                    <fieldText>Type</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>UsageType</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Minimum Commitment</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>ConsumptionScheduleType</name>
                    <choiceReferences>ConsumptionScheduleType_Choice</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>ConsumptionSchedule.Type</elementReference>
                    </defaultValue>
                    <fieldText>Type</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>UsageType</leftValueReference>
                            <operator>NotEqualTo</operator>
                            <rightValue>
                                <stringValue>Minimum Commitment</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>ChooseConsumptionSchedule_Section3_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>BillingTerm</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <elementReference>ConsumptionSchedule.BillingTerm</elementReference>
                    </defaultValue>
                    <fieldText>Billing Term</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <scale>0</scale>
                </fields>
                <fields>
                    <name>BillingTermUnit</name>
                    <choiceReferences>BillingTermUnit_Choice</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>ConsumptionSchedule.BillingTermUnit</elementReference>
                    </defaultValue>
                    <fieldText>Billing Term Unit</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>ConsumptionScheduleCategory</name>
                    <choiceReferences>ConsumptionScheduleCategory_Choice</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>ConsumptionSchedule.SBQQ__Category__c</elementReference>
                    </defaultValue>
                    <fieldText>Category</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>ExistingConsumptionSchedule.value</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>ChooseUsageMeters</name>
        <label>Choose Usage Meters</label>
        <locationX>1231</locationX>
        <locationY>11203</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_ProductConsumptionSchedule_0_0</targetReference>
        </connector>
        <fields>
            <name>UsageMeterCounter</name>
            <fieldText>&lt;p&gt;Usage Meter {!UsageMeter_OptionNumber} of {!CountOfUsageMeters}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>UsageMeter_Lookup</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>SBQQ__OptionalSKU__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Usage Meter</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>SBQQ__ProductOption__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>UsageMeter.SBQQ__OptionalSKU__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>AddMore_UsageMeters</name>
            <extensionName>flowruntime:toggle</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Add More?</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleActive</name>
                <value>
                    <stringValue>Yes</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleInactive</name>
                <value>
                    <stringValue>No</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>AddMore_Value</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>disabled</name>
                <value>
                    <elementReference>Disable_AddMore_UsageMeters</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>ChooseUsageProduct</name>
        <label>Choose Usage Product</label>
        <locationX>1219</locationX>
        <locationY>2674</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_ExistingUsageProduct</targetReference>
        </connector>
        <fields>
            <name>ChooseUsageProduct_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>ChooseUsageProduct_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>ExistingUsageProduct</name>
                    <extensionName>flowruntime:toggle</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Existing Usage Product</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>messageToggleActive</name>
                        <value>
                            <stringValue>Yes</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>messageToggleInactive</name>
                        <value>
                            <stringValue>No</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>value</name>
                        <value>
                            <elementReference>Existing_UsageProduct</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>disabled</name>
                        <value>
                            <elementReference>Disable_ExistingUsageProduct</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>ChooseUsageProduct_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>UsageProduct_Lookup</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>SBQQ__OptionalSKU__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Usage Product</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>SBQQ__ProductOption__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>Product_Usage.Id</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <elementReference>ExistingUsageProduct.value</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>ExistingUsageProduct.value</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>ChooseUsageProduct_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>ChooseUsageProduct_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>UsageProductName</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Product_Usage.Name</elementReference>
                    </defaultValue>
                    <fieldText>Usage Product Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>ChooseUsageProduct_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>UsageType_UsageProduct</name>
                    <choiceReferences>Standard_Choice</choiceReferences>
                    <choiceReferences>Bucket_Choice</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Product_Usage.UsageType__c</elementReference>
                    </defaultValue>
                    <fieldText>Usage Type</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>ExistingUsageProduct.value</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>UsageType</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Minimum Commitment</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>EditConsumptionRate</name>
        <label>Edit Consumption Rate</label>
        <locationX>1162</locationX>
        <locationY>6359</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Set_ConsumptionRate_Parameters</targetReference>
        </connector>
        <fields>
            <name>ConsumptionRateCounter</name>
            <fieldText>&lt;p&gt;Consumption Rate {!ConsumptionRate_ProcessingOrder} of {!ConsumptionSchedule.NumberOfRates}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>EditConsumptionRate_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>EditConsumptionRate_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>LowerBound</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <elementReference>ConsumptionRate.LowerBound</elementReference>
                    </defaultValue>
                    <fieldText>Lower Bound</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <scale>0</scale>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>EditConsumptionRate_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>UpperBound</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <elementReference>ConsumptionRate.UpperBound</elementReference>
                    </defaultValue>
                    <fieldText>Upper Bound (Excl.)</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>EditConsumptionRate_Section1_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Price</name>
                    <dataType>Currency</dataType>
                    <defaultValue>
                        <elementReference>ConsumptionRate.Price</elementReference>
                    </defaultValue>
                    <fieldText>Price</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <scale>6</scale>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>EditConsumptionRate_Section1_Column4</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>PricingMethod</name>
                    <choiceReferences>PricingMethod_Choice</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>ConsumptionRate.PricingMethod</elementReference>
                    </defaultValue>
                    <fieldText>Pricing Method</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>AddMore_ConsumptionRates</name>
            <extensionName>flowruntime:toggle</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Add More?</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleActive</name>
                <value>
                    <stringValue>Yes</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleInactive</name>
                <value>
                    <stringValue>No</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>AddMore_Value</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>disabled</name>
                <value>
                    <elementReference>Disable_AddMore_ConsumptionRates</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>GeneralSetup</name>
        <label>General Setup</label>
        <locationX>1105</locationX>
        <locationY>892</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Update_MainProduct_GeneralParameters</targetReference>
        </connector>
        <fields>
            <name>GeneralDetails</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;General Details&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>GeneralSetup_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>GeneralSetup_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>ProductName</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Product_Main.Name</elementReference>
                    </defaultValue>
                    <fieldText>Product Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>ProductCode</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Product_Main.ProductCode</elementReference>
                    </defaultValue>
                    <fieldText>Product Code</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>StandardPrice</name>
                    <dataType>Currency</dataType>
                    <defaultValue>
                        <elementReference>Product_Main.StandardPrice__c</elementReference>
                    </defaultValue>
                    <fieldText>Standard Price</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <scale>0</scale>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>GeneralSetup_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>UsageType</name>
                    <choiceReferences>MinimumCommitment_Choice</choiceReferences>
                    <choiceReferences>Standard_Choice</choiceReferences>
                    <choiceReferences>Bucket_Choice</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Product_Main.UsageType__c</elementReference>
                    </defaultValue>
                    <fieldText>Usage Type</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>BillingFrequency</name>
                    <choiceReferences>BillingFrequency_Choice</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Product_Main.SBQQ__BillingFrequency__c</elementReference>
                    </defaultValue>
                    <fieldText>Billing Frequency</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>BillingType</name>
                    <choiceReferences>BillingType_Choice</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Product_Main.SBQQ__BillingType__c</elementReference>
                    </defaultValue>
                    <fieldText>Billing Type</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>MinimumCommitmentSetup</name>
        <label>Minimum Commitment Setup</label>
        <locationX>1219</locationX>
        <locationY>1851</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Update_MinimumCommitment_Parameters</targetReference>
        </connector>
        <fields>
            <name>UsageDetails</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;Usage Details&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>MinimumCommitmentSetup_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>MinimumCommitmentSetup_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>CommitmentTerm</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <elementReference>Product_MinimumCommitment.SBQQ__SubscriptionTerm__c</elementReference>
                    </defaultValue>
                    <fieldText>Commitment Term</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <scale>0</scale>
                </fields>
                <fields>
                    <name>UsageTerm</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <elementReference>Product_MinimumCommitment.UsageTerm__c</elementReference>
                    </defaultValue>
                    <fieldText>Usage Term</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <scale>0</scale>
                </fields>
                <fields>
                    <name>OverageSurcharge</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <elementReference>Product_MinimumCommitment.OverageSurcharge__c</elementReference>
                    </defaultValue>
                    <fieldText>Overage Surcharge (%)</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <scale>0</scale>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>MinimumCommitmentSetup_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>CreditTypes</name>
                    <extensionName>flowruntime:dependentPicklists</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>dependencyWrapperApiName</name>
                        <value>
                            <stringValue>Product2</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>topPicklistApiName</name>
                        <value>
                            <stringValue>CreditCarryoverType__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>middlePicklistApiName</name>
                        <value>
                            <stringValue>CreditDistributionAmend__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>topValue</name>
                        <value>
                            <elementReference>Product_MinimumCommitment.CreditCarryoverType__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>middleValue</name>
                        <value>
                            <elementReference>Product_MinimumCommitment.CreditDistributionAmend__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>topRequired</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>middleRequired</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>CarryoverFactor</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <elementReference>Product_MinimumCommitment.CarryoverFactor__c</elementReference>
                    </defaultValue>
                    <fieldText>Carryover Factor (%)</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <scale>2</scale>
                </fields>
                <fields>
                    <name>CarryoverLimit</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <elementReference>Product_MinimumCommitment.CarryoverLimit__c</elementReference>
                    </defaultValue>
                    <fieldText>Carryover Limit</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>970</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Initialize_MinimumCommitmentProduct</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>AddMore_Value</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
    <variables>
        <name>ChooseConsumptionSchedule_Message</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ChooseUsageProduct_Message</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ConsumptionRate</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ConsumptionRate</objectType>
    </variables>
    <variables>
        <name>ConsumptionRate_ProcessingOrder</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>ConsumptionRates</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ConsumptionRate</objectType>
    </variables>
    <variables>
        <name>ConsumptionRates_Created</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ConsumptionRate</objectType>
    </variables>
    <variables>
        <name>ConsumptionRates_Updated</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ConsumptionRate</objectType>
    </variables>
    <variables>
        <name>ConsumptionSchedule</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ConsumptionSchedule</objectType>
    </variables>
    <variables>
        <name>ConsumptionSchedule_Created</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ConsumptionSchedule</objectType>
    </variables>
    <variables>
        <name>ConsumptionSchedule_Existing</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ConsumptionSchedule</objectType>
    </variables>
    <variables>
        <name>CountOfConsumptionRates</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>CountOfUsageMeters</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>Disable_AddMore_ConsumptionRates</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>Disable_AddMore_UsageMeters</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>Disable_ExistingUsageProduct</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>Disable_MultipleUsageMeters</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>Existing_ConsumptionSchedule</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>Existing_MultipleUsageMeters</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>Existing_UsageProduct</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>Product_Main</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Product2</objectType>
    </variables>
    <variables>
        <name>Product_Main_Existing</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Product2</objectType>
    </variables>
    <variables>
        <name>Product_MinimumCommitment</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Product2</objectType>
    </variables>
    <variables>
        <name>Product_Usage</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Product2</objectType>
    </variables>
    <variables>
        <name>Product_Usage_Existing</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Product2</objectType>
    </variables>
    <variables>
        <name>ProductConsumptionSchedule</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ProductConsumptionSchedule</objectType>
    </variables>
    <variables>
        <name>ProductConsumptionSchedule_Shared</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ProductConsumptionSchedule</objectType>
    </variables>
    <variables>
        <name>ProductOption_UsageMeters_CreateQueue</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SBQQ__ProductOption__c</objectType>
    </variables>
    <variables>
        <name>ProductOption_UsageMeters_UpdateQueue</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SBQQ__ProductOption__c</objectType>
    </variables>
    <variables>
        <name>ProductOption_UsageProduct</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SBQQ__ProductOption__c</objectType>
    </variables>
    <variables>
        <name>Products</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Product2</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SharedConsumptionSchedule</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>TierIncluded</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ConsumptionRate</objectType>
    </variables>
    <variables>
        <name>TierOverage</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ConsumptionRate</objectType>
    </variables>
    <variables>
        <name>UpperBound_Previous</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>UsageMeter</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SBQQ__ProductOption__c</objectType>
    </variables>
    <variables>
        <name>UsageMeter_OptionNumber</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>UsageMeters</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SBQQ__ProductOption__c</objectType>
    </variables>
</Flow>
