force-app/main/default/flows/HybridUsage_AccumulateUsage.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <assignments>
        <name>Accumulate_Usage</name>
        <label>Accumulate Usage</label>
        <locationX>138</locationX>
        <locationY>935</locationY>
        <assignmentItems>
            <assignToReference>UsageAccumulated</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>FX_Quantity_Transformed</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_UsageSummaries</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Get_Quantity_and_Price</name>
        <label>Get Quantity and Price</label>
        <locationX>138</locationX>
        <locationY>815</locationY>
        <assignmentItems>
            <assignToReference>Quantity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_UsageSummaries.blng__TotalQuantity__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UnitPrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_UsageSummaries.blng__UnitPrice__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Accumulate_Usage</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>AccumulationDue</name>
        <label>Accumulation Due?</label>
        <locationX>182</locationX>
        <locationY>335</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_AccumulationDue</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.EffectiveDate__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record.blng__NextBillingDate__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.OverrideEffectiveDate__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record.blng__NextBillingDate__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Usage_Parameters</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Accumulates the consumption from the Usage Meters and creates a Usage record for the Usage Bucket.</description>
    <formulas>
        <name>FX_Quantity_Transformed</name>
        <dataType>Number</dataType>
        <expression>{!Quantity} * {!UnitPrice}</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Hybrid Usage - Accumulate Usage {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Hybrid Usage - Accumulate Usage</label>
    <loops>
        <name>Loop_through_UsageSummaries</name>
        <label>Loop through Usage Summaries</label>
        <locationX>50</locationX>
        <locationY>695</locationY>
        <collectionReference>Get_UsageSummaries_from_UsageMeters</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_Quantity_and_Price</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Usage</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Usage</name>
        <label>Usage</label>
        <locationX>50</locationX>
        <locationY>1151</locationY>
        <inputAssignments>
            <field>blng__EndDateTime__c</field>
            <value>
                <elementReference>Get_Usage_Parameters.blng__SummaryEndDate__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>blng__MatchingAttribute__c</field>
            <value>
                <elementReference>Get_Usage_Parameters.blng__MatchingAttribute__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>blng__MatchingId__c</field>
            <value>
                <elementReference>Get_Usage_Parameters.blng__MatchingId__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>blng__Quantity__c</field>
            <value>
                <elementReference>UsageAccumulated</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>blng__StartDateTime__c</field>
            <value>
                <elementReference>Get_Usage_Parameters.blng__SummaryEndDate__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>blng__UnitOfMeasure__c</field>
            <value>
                <elementReference>Get_Usage_Parameters.blng__UnitOfMeasure__c</elementReference>
            </value>
        </inputAssignments>
        <object>blng__Usage__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Usage_Parameters</name>
        <label>Get Usage Parameters</label>
        <locationX>50</locationX>
        <locationY>455</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_UsageSummaries_from_UsageMeters</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>blng__OrderProduct__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>ActivePeriod__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>blng__UsageSummary__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>blng__MatchingAttribute__c</queriedFields>
        <queriedFields>blng__UnitOfMeasure__c</queriedFields>
        <queriedFields>blng__MatchingId__c</queriedFields>
        <queriedFields>blng__SummaryStartDate__c</queriedFields>
        <queriedFields>blng__SummaryEndDate__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_UsageSummaries_from_UsageMeters</name>
        <label>Get Usage Summaries from Usage Meters</label>
        <locationX>50</locationX>
        <locationY>575</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_through_UsageSummaries</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ParentNumber__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.OrderItemNumber</elementReference>
            </value>
        </filters>
        <filters>
            <field>ActivePeriod__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>blng__UsageSummary__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>blng__TotalQuantity__c</queriedFields>
        <queriedFields>blng__UnitPrice__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>AccumulationDue</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3)</filterLogic>
        <filters>
            <field>UsageType__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Bucket</stringValue>
            </value>
        </filters>
        <filters>
            <field>OverrideEffectiveDate__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>EffectiveDate__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>OrderItem</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <triggerOrder>10</triggerOrder>
    <variables>
        <name>currentItem_A</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>blng__UsageSummary__c</objectType>
    </variables>
    <variables>
        <name>Quantity</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>UnitPrice</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>Usage</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>blng__Usage__c</objectType>
    </variables>
    <variables>
        <name>UsageAccumulated</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
