force-app/main/default/flows/HybridUsage_UpdateUsageCredits.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>52.0</apiVersion>
    <assignments>
        <name>Add_Carryover_to_NextUsagePeriod</name>
        <label>Add Carryover to Next Usage Period</label>
        <locationX>1239</locationX>
        <locationY>2445</locationY>
        <assignmentItems>
            <assignToReference>QuantityCarryover_Next</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>QuantityCarryover_Current</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_QuantityAvailable_for_NextPeriod</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Rate_to_Update_Queue</name>
        <label>Add Rate to Update Queue</label>
        <locationX>1203</locationX>
        <locationY>3340</locationY>
        <assignmentItems>
            <assignToReference>UpdatedConsumptionRates</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Consumption_Rates</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Consumption_Rates</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_to_Update_Queue</name>
        <label>Add to Update Queue</label>
        <locationX>1251</locationX>
        <locationY>1884</locationY>
        <assignmentItems>
            <assignToReference>UsagePeriods_RollingWindow</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>UsagePeriod</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_UsagePeriods</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Apply_CarryoverFactor</name>
        <label>Apply Carryover Factor</label>
        <locationX>1374</locationX>
        <locationY>2075</locationY>
        <assignmentItems>
            <assignToReference>QuantityCarryover_Current</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FX_Leftover_WithCarryoverFactor</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Has_CarryoverLimit</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Apply_CarryoverLimit</name>
        <label>Apply Carryover Limit</label>
        <locationX>983</locationX>
        <locationY>2352</locationY>
        <assignmentItems>
            <assignToReference>QuantityCarryover_Current</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FX_Carryover_WithCarryoverLimit</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Refresh_CurrentPeriod_Carryover</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>This step is not needed if calculated within a formula in the Consumption Rate object</description>
        <name>Calculate_Delta</name>
        <label>Calculate Delta</label>
        <locationX>1612</locationX>
        <locationY>3121</locationY>
        <assignmentItems>
            <assignToReference>LowerBound_Current</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Consumption_Rates.SBQQ__LowerBound__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UpperBound_Next</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Consumption_Rates.SBQQ__UpperBound__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Both_Bounds</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Calculate_RollingWindow_StartIndex</name>
        <label>Calculate Rolling Window Start Index</label>
        <locationX>1092</locationX>
        <locationY>1504</locationY>
        <assignmentItems>
            <assignToReference>Index_WindowStart</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Index_Current</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Index_WindowStart</assignToReference>
            <operator>Subtract</operator>
            <value>
                <elementReference>CreditValidity</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UsagePeriods_in_RollingWindow</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Discount_Usage_from_Allowance</name>
        <label>Discount Usage from Allowance</label>
        <locationX>1242</locationX>
        <locationY>2074</locationY>
        <assignmentItems>
            <assignToReference>Leftover</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FX_Leftover_OnlyNegative</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Leftover</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>QuantityAllowance_Current</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Apply_CarryoverFactor</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Discount_Usage_from_Leftover</name>
        <label>Discount Usage from Leftover</label>
        <locationX>1254</locationX>
        <locationY>1742</locationY>
        <assignmentItems>
            <assignToReference>Leftover</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FX_Leftover_OnlyNegative</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Leftover</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_through_UsagePeriods.CreditLeftover__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_UsagePeriod</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Get_UsagePeriod_EndDate_Current</name>
        <label>Get Usage Period End Date (Current)</label>
        <locationX>1096</locationX>
        <locationY>383</locationY>
        <assignmentItems>
            <assignToReference>EndDate_Current</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record__Prior.blng__NextBillingDate__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EndDate_Current</assignToReference>
            <operator>Subtract</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_UsagePeriod_Current</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Get_UsagePeriod_Index_Next</name>
        <label>Get Usage Period Index (Next)</label>
        <locationX>1096</locationX>
        <locationY>623</locationY>
        <assignmentItems>
            <assignToReference>Index_Next</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Index_Current</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Index_Next</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UsagePeriod_Next</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>These parameters define the behaviour of the credits.</description>
        <name>Initialize_GeneralVariables</name>
        <label>Initialize General Variables</label>
        <locationX>1096</locationX>
        <locationY>863</locationY>
        <assignmentItems>
            <assignToReference>CarryoverFactor</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CarryoverFactor__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CarryoverLimit</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CarryoverLimit__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UsageTerm</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.UsageTerm__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Leftover</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Leftover</assignToReference>
            <operator>Subtract</operator>
            <value>
                <elementReference>QuantityConsumed_Current</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CreditCarryoverType</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Initialize_PoolVariables</name>
        <label>Initialize Pool Variables</label>
        <locationX>942</locationX>
        <locationY>1056</locationY>
        <assignmentItems>
            <assignToReference>CreditValidity</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UsagePeriod_HasChanged</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Initialize_RollingVariables</name>
        <label>Initialize Rolling Variables</label>
        <locationX>1251</locationX>
        <locationY>1061</locationY>
        <assignmentItems>
            <assignToReference>CreditValidity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>UsageTerm</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Calculate_RollingWindow_StartIndex</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>No_Carryover_Limits</name>
        <label>No Carryover Limits</label>
        <locationX>818</locationX>
        <locationY>1325</locationY>
        <assignmentItems>
            <assignToReference>CarryoverFactor</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>100.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CarryoverLimit</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Calculate_RollingWindow_StartIndex</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Refresh_CurrentPeriod_Carryover</name>
        <label>Refresh Current Period Carryover</label>
        <locationX>1104</locationX>
        <locationY>2445</locationY>
        <assignmentItems>
            <assignToReference>UsagePeriod_Current.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ID_Current</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UsagePeriod_Current.CreditLeftover__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>QuantityCarryover_Current</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Carryover_to_NextUsagePeriod</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_QuantityAvailable_for_NextPeriod</name>
        <label>Set Quantity Available for Next Period</label>
        <locationX>1386</locationX>
        <locationY>2445</locationY>
        <assignmentItems>
            <assignToReference>QuantityAvailable_Next</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>QuantityAllowance_Next</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QuantityAvailable_Next</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>QuantityCarryover_Next</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_BucketConsumptionSchedule</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Store_Previous_Upper_Bound</name>
        <label>Store Previous Upper Bound</label>
        <locationX>1348</locationX>
        <locationY>3340</locationY>
        <assignmentItems>
            <assignToReference>UpperBound_Current</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Consumption_Rates.SBQQ__UpperBound__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Rate_to_Update_Queue</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>UnusedLeftover_passes_to_NextPeriod</name>
        <label>Unused Leftover passes to Next Period</label>
        <locationX>1101</locationX>
        <locationY>2073</locationY>
        <assignmentItems>
            <assignToReference>QuantityCarryover_Next</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FX_Leftover_OnlyPositive</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Discount_Usage_from_Allowance</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Both_Bounds</name>
        <label>Update Both Bounds</label>
        <locationX>1612</locationX>
        <locationY>3234</locationY>
        <assignmentItems>
            <assignToReference>Loop_Consumption_Rates.SBQQ__LowerBound__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>UpperBound_Current</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_Consumption_Rates.SBQQ__UpperBound__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Consumption_Rates.SBQQ__LowerBound__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_Consumption_Rates.SBQQ__UpperBound__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>FX_Usage_Delta</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Store_Previous_Upper_Bound</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Lower_Bound</name>
        <label>Update Lower Bound</label>
        <locationX>1421</locationX>
        <locationY>3124</locationY>
        <assignmentItems>
            <assignToReference>Loop_Consumption_Rates.SBQQ__LowerBound__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>UpperBound_Current</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Store_Previous_Upper_Bound</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Upper_Bound</name>
        <label>Update Upper Bound</label>
        <locationX>1269</locationX>
        <locationY>3123</locationY>
        <assignmentItems>
            <assignToReference>Loop_Consumption_Rates.SBQQ__UpperBound__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>QuantityAvailable_Next</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_Consumption_Rates.SBQQ__UpperBound__c</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Store_Previous_Upper_Bound</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_UsagePeriod</name>
        <label>Update Usage Period</label>
        <locationX>1406</locationX>
        <locationY>1817</locationY>
        <assignmentItems>
            <assignToReference>UsagePeriod.CreditLeftover__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FX_Leftover_OnlyPositive</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UsagePeriod.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_UsagePeriods.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_Update_Queue</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>CreditCarryoverType</name>
        <label>Credit Carryover Type</label>
        <locationX>1096</locationX>
        <locationY>983</locationY>
        <defaultConnector>
            <targetReference>Initialize_RollingVariables</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Rolling</defaultConnectorLabel>
        <rules>
            <name>Pool</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CreditCarryoverType__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pool</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Initialize_PoolVariables</targetReference>
            </connector>
            <label>Pool</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_CarryoverLimit</name>
        <label>Has Carryover Limit?</label>
        <locationX>1098</locationX>
        <locationY>2240</locationY>
        <defaultConnector>
            <targetReference>Apply_CarryoverLimit</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Yes</defaultConnectorLabel>
        <rules>
            <name>No_HasCarryoverLimit</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>CarryoverLimit</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CarryoverLimit</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Refresh_CurrentPeriod_Carryover</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Rate_Index_Selector</name>
        <label>Rate Index Selector</label>
        <locationX>1261</locationX>
        <locationY>2908</locationY>
        <defaultConnector>
            <targetReference>Calculate_Delta</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>All Others</defaultConnectorLabel>
        <rules>
            <name>IncludedRate</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Consumption_Rates.SBQQ__LowerBound__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Upper_Bound</targetReference>
            </connector>
            <label>Included Rate</label>
        </rules>
        <rules>
            <name>OverageRate</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Consumption_Rates.SBQQ__UpperBound__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Lower_Bound</targetReference>
            </connector>
            <label>Overage Rate</label>
        </rules>
    </decisions>
    <decisions>
        <description>Evaluate if Usage Period has changed (by checking whether the Billing Period and Usage Period are multiples).</description>
        <name>UsagePeriod_HasChanged</name>
        <label>Usage Period Has Changed?</label>
        <locationX>933</locationX>
        <locationY>1191</locationY>
        <defaultConnector>
            <targetReference>No_Carryover_Limits</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_UsagePeriodChanged</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>FX_UsagePeriod_HasChanged</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Calculate_RollingWindow_StartIndex</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <formulas>
        <name>FX_Carryover_WithCarryoverLimit</name>
        <dataType>Number</dataType>
        <expression>MIN( {!CarryoverLimit}, {!QuantityCarryover} )</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>FX_Leftover_OnlyNegative</name>
        <dataType>Number</dataType>
        <expression>MIN({!Leftover},0)</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <description>The actual Leftover that can be carried over to the next month has to be positive.</description>
        <name>FX_Leftover_OnlyPositive</name>
        <dataType>Number</dataType>
        <expression>MAX({!Leftover},0)</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>FX_Leftover_WithCarryoverFactor</name>
        <dataType>Number</dataType>
        <expression>{!FX_Leftover_OnlyPositive} * {!CarryoverFactor}/100</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>FX_Usage_Delta</name>
        <dataType>Number</dataType>
        <expression>{!UpperBound_Next} - {!LowerBound_Current}</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>FX_UsagePeriod_HasChanged</name>
        <dataType>Number</dataType>
        <expression>MOD({!Index_Next}-1,{!UsageTerm})</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>Hybrid Usage - Update Usage Credits {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Hybrid Usage - Update Usage Credits</label>
    <loops>
        <name>Loop_Consumption_Rates</name>
        <label>Loop Consumption Rates</label>
        <locationX>1105</locationX>
        <locationY>2905</locationY>
        <collectionReference>Get_ConsumptionRates</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Rate_Index_Selector</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Consumption_Rates</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_through_UsagePeriods</name>
        <label>Loop through Usage Periods</label>
        <locationX>1099</locationX>
        <locationY>1817</locationY>
        <collectionReference>UsagePeriods_in_RollingWindow</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Discount_Usage_from_Leftover</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>UnusedLeftover_passes_to_NextPeriod</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_BucketConsumptionSchedule</name>
        <label>Get Bucket Consumption Schedule</label>
        <locationX>1104</locationX>
        <locationY>2599</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_ConsumptionRates</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SBQQ__OrderItem__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <object>SBQQ__OrderItemConsumptionSchedule__c</object>
        <outputAssignments>
            <assignToReference>ConsumptionSchedule_ID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_ConsumptionRates</name>
        <label>Get Consumption Rates</label>
        <locationX>1105</locationX>
        <locationY>2756</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Consumption_Rates</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SBQQ__OrderItemConsumptionSchedule__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ConsumptionSchedule_ID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>SBQQ__OrderItemConsumptionRate__c</object>
        <sortField>SBQQ__LowerBound__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get the Available, Cumulative, and Consumed Quantities from the Current usage period.</description>
        <name>Get_UsagePeriod_Current</name>
        <label>Usage Period (Current)</label>
        <locationX>1097</locationX>
        <locationY>503</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_UsagePeriod_Index_Next</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>blng__OrderProduct__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>blng__SummaryEndDate__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>EndDate_Current</elementReference>
            </value>
        </filters>
        <object>blng__UsageSummary__c</object>
        <outputAssignments>
            <assignToReference>ID_Current</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>QuantityAllowance_Current</assignToReference>
            <field>QuantityAllowance__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>QuantityCarryover_Current</assignToReference>
            <field>QuantityCarryover__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Index_Current</assignToReference>
            <field>Index__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>QuantityConsumed_Current</assignToReference>
            <field>blng__TotalQuantity__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>UsagePeriod_Next</name>
        <label>Usage Period (Next)</label>
        <locationX>1097</locationX>
        <locationY>743</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Initialize_GeneralVariables</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>blng__OrderProduct__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Index__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Index_Next</elementReference>
            </value>
        </filters>
        <object>blng__UsageSummary__c</object>
        <outputAssignments>
            <assignToReference>ID_Next</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>QuantityAllowance_Next</assignToReference>
            <field>QuantityAllowance__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>UsagePeriods_in_RollingWindow</name>
        <label>Usage Periods in Rolling Window</label>
        <locationX>1091</locationX>
        <locationY>1658</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_through_UsagePeriods</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Index__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>Index_WindowStart</elementReference>
            </value>
        </filters>
        <filters>
            <field>Index__c</field>
            <operator>LessThan</operator>
            <value>
                <elementReference>Index_Current</elementReference>
            </value>
        </filters>
        <filters>
            <field>blng__OrderProduct__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>blng__UsageSummary__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>CreditLeftover__c</queriedFields>
        <queriedFields>QuantityAllowance__c</queriedFields>
        <queriedFields>Index__c</queriedFields>
        <sortField>Index__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Consumption_Rates</name>
        <label>Update Consumption Rates</label>
        <locationX>1099</locationX>
        <locationY>3530</locationY>
        <connector>
            <targetReference>Update_UsagePeriods_RollingWindow</targetReference>
        </connector>
        <inputReference>UpdatedConsumptionRates</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_UsagePeriod_Current</name>
        <label>Update Current Usage Period</label>
        <locationX>1097</locationX>
        <locationY>3833</locationY>
        <connector>
            <targetReference>Update_UsagePeriod_Next</targetReference>
        </connector>
        <inputReference>UsagePeriod_Current</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_UsagePeriod_Next</name>
        <label>Update Next Usage Period</label>
        <locationX>1098</locationX>
        <locationY>3981</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>blng__OrderProduct__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Index__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Index_Next</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>QuantityCarryover__c</field>
            <value>
                <elementReference>QuantityCarryover_Next</elementReference>
            </value>
        </inputAssignments>
        <object>blng__UsageSummary__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_UsagePeriods_RollingWindow</name>
        <label>Update Rolling Window Usage Periods</label>
        <locationX>1097</locationX>
        <locationY>3684</locationY>
        <connector>
            <targetReference>Update_UsagePeriod_Current</targetReference>
        </connector>
        <inputReference>UsagePeriods_RollingWindow</inputReference>
    </recordUpdates>
    <start>
        <locationX>970</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Get_UsagePeriod_EndDate_Current</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>blng__NextBillingDate__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>HasConsumptionSchedule__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>UsageTerm__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>OrderItem</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>CarryoverFactor</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>CarryoverLimit</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>ConsumptionSchedule_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CreditValidity</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>EndDate_Current</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ID_Current</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ID_Next</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Index_Current</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>Index_Next</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>Index_WindowStart</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>Leftover</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>LowerBound_Current</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>QuantityAllowance_Current</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>QuantityAllowance_Next</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>QuantityAvailable_Next</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>QuantityCarryover</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>QuantityCarryover_Current</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>QuantityCarryover_Next</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>QuantityConsumed_Current</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>UpdatedConsumptionRates</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SBQQ__OrderItemConsumptionRate__c</objectType>
    </variables>
    <variables>
        <name>UpperBound_Current</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>UpperBound_Next</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>2.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>UsagePeriod</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>blng__UsageSummary__c</objectType>
    </variables>
    <variables>
        <name>UsagePeriod_Current</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>blng__UsageSummary__c</objectType>
    </variables>
    <variables>
        <name>UsagePeriods_RollingWindow</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>blng__UsageSummary__c</objectType>
    </variables>
    <variables>
        <name>UsageTerm</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
</Flow>
