force-app/main/default/flows/HybridUsage_PropagateOverrideEffectiveDate_to_OrderProducts.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>Add_to_UpdateQueue</name>
        <label>Add to Update Queue</label>
        <locationX>264</locationX>
        <locationY>695</locationY>
        <assignmentItems>
            <assignToReference>Queue_OrderProduct</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_through_OrderProducts</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_OrderProducts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_OverrideEffectiveDate</name>
        <label>Set Override Effective Date</label>
        <locationX>264</locationX>
        <locationY>575</locationY>
        <assignmentItems>
            <assignToReference>Loop_through_OrderProducts.OverrideEffectiveDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.OverrideEffectiveDate__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_UpdateQueue</targetReference>
        </connector>
    </assignments>
    <interviewLabel>Hybrid Usage - Propagate Override Effective Date to Order Products {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Hybrid Usage - Propagate Override Effective Date to Order Products</label>
    <loops>
        <name>Loop_through_OrderProducts</name>
        <label>Loop through Order Products</label>
        <locationX>176</locationX>
        <locationY>455</locationY>
        <collectionReference>Get_UsageBuckets</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_OverrideEffectiveDate</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_OrderProduct_OverrideEffectiveDate</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_UsageBuckets</name>
        <label>Get Usage Buckets</label>
        <locationX>176</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_through_OrderProducts</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OrderId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>HasUsageMeters__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OrderItem</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>OverrideEffectiveDate__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_OrderProduct_OverrideEffectiveDate</name>
        <label>Update Order Product Override Effective Date</label>
        <locationX>176</locationX>
        <locationY>911</locationY>
        <inputReference>Queue_OrderProduct</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_UsageBuckets</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OverrideEffectiveDate__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Order</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>Queue_OrderProduct</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OrderItem</objectType>
    </variables>
</Flow>
