force-app/main/default/flows/HybridUsage_UpdateUsageCredits.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>52.0</apiVersion>
    <assignments>
        <name>Add_CreditLeftover_to_NextUsagePeriod</name>
        <label>Add Credit Leftover to Next Usage Period</label>
        <locationX>1096</locationX>
        <locationY>3025</locationY>
        <assignmentItems>
            <assignToReference>US_Next.QuantityCarryover__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>US_Current.CreditLeftover__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_QuantityAvailable_for_NextPeriod</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_CreditLeftover_to_NextUsagePeriod_0</name>
        <label>Add Credit Leftover to Next Usage Period</label>
        <locationX>1471</locationX>
        <locationY>2965</locationY>
        <assignmentItems>
            <assignToReference>US_Next.QuantityCarryover__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>US_Current.CreditLeftover__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Apply_CarryoverLimit_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Rate_to_Update_Queue</name>
        <label>Add Rate to Update Queue</label>
        <locationX>1436</locationX>
        <locationY>3989</locationY>
        <assignmentItems>
            <assignToReference>UpdatedConsumptionRates</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Consumption_Rates</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Consumption_Rates</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_to_UpdatedQueue</name>
        <label>Add to Updated Queue</label>
        <locationX>1255</locationX>
        <locationY>1831</locationY>
        <assignmentItems>
            <assignToReference>US_Window_Updated</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>US</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_UsageWindow</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Apply_CarryoverLimit</name>
        <label>Apply Carryover Limit</label>
        <locationX>1243</locationX>
        <locationY>2959</locationY>
        <assignmentItems>
            <assignToReference>US_Current.CreditLeftover__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FX_Leftover_WithCarryoverLimit</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_CreditLeftover_to_NextUsagePeriod</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Apply_CarryoverLimit_0</name>
        <label>Apply Carryover Limit</label>
        <locationX>1606</locationX>
        <locationY>3021</locationY>
        <assignmentItems>
            <assignToReference>US_Next.QuantityCarryover__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FX_Carryover_WithCarryoverLimit</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_QuantityAvailable_for_NextPeriod</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>This step is not needed if calculated within a formula in the Consumption Rate object</description>
        <name>Calculate_Delta</name>
        <label>Calculate Delta</label>
        <locationX>1757</locationX>
        <locationY>3593</locationY>
        <assignmentItems>
            <assignToReference>LowerBound_Current</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Consumption_Rates.SBQQ__LowerBound__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UpperBound_Next</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Consumption_Rates.SBQQ__UpperBound__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Both_Bounds</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Calculate_IndexWindowStart</name>
        <label>Calculate Window Start Index</label>
        <locationX>1098</locationX>
        <locationY>1417</locationY>
        <assignmentItems>
            <assignToReference>Index_WindowStart</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>US_Current.Index__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Index_WindowStart</assignToReference>
            <operator>Subtract</operator>
            <value>
                <elementReference>WindowStartDelta</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UsagePeriods_in_RollingWindow</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Calculate_Leftover_with_Carryover</name>
        <label>Calculate Leftover with Carryover</label>
        <locationX>1096</locationX>
        <locationY>2533</locationY>
        <assignmentItems>
            <assignToReference>US_Current.CreditLeftover__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FX_Leftover_WithCarryoverFactor</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Has_CarryoverLimit</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Calculate_QuantityCarryover_from_CurrentPeriodLeftover_0</name>
        <label>Calculate Quantity Carryover from Current Period Leftover</label>
        <locationX>1187</locationX>
        <locationY>2069</locationY>
        <assignmentItems>
            <assignToReference>US_Next.QuantityCarryover__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FX_Leftover_OnlyPositive</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Discount_Usage_from_Allowance</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Leftover from previous usage periods passes to next period without the credit limitations, because these were already applied.</description>
        <name>Calculate_QuantityCarryover_from_PoolLeftover</name>
        <label>Calculate Quantity Carryover from Current Pool Leftover</label>
        <locationX>1006</locationX>
        <locationY>2070</locationY>
        <assignmentItems>
            <assignToReference>US_Next.QuantityCarryover__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FX_LeftoverPool_WithCarryoverFactor</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Discount_Usage_from_Allowance</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Calculate_WindowStartDelta_Pool</name>
        <label>Calculate Window Start Delta (Pool)</label>
        <locationX>979</locationX>
        <locationY>1220</locationY>
        <assignmentItems>
            <assignToReference>WindowStartDelta</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FX_WindowStartDelta</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UsagePeriod_HasChanged</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Calculate_WindowStartDelta_Rolling</name>
        <label>Calculate Window Start Delta (Rolling)</label>
        <locationX>1200</locationX>
        <locationY>1221</locationY>
        <assignmentItems>
            <assignToReference>WindowStartDelta</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>UsageTerm</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Calculate_IndexWindowStart</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Discount_Usage_from_Allowance</name>
        <label>Discount Usage from Allowance</label>
        <locationX>1098</locationX>
        <locationY>2239</locationY>
        <assignmentItems>
            <assignToReference>Leftover</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FX_Leftover_OnlyNegative</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Leftover</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>US_Current.QuantityAllowance__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Leftover_to_Positive</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Discount_Usage_from_Leftover</name>
        <label>Discount Usage from Leftover</label>
        <locationX>1255</locationX>
        <locationY>1683</locationY>
        <assignmentItems>
            <assignToReference>Leftover</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FX_Leftover_OnlyNegative</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Leftover</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_through_UsageWindow.CreditLeftover__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_CreditLeftover</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Get_UsagePeriod_EndDate_Current</name>
        <label>Get Usage Period End Date (Current)</label>
        <locationX>1096</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>EndDate_Current</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record__Prior.blng__NextBillingDate__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EndDate_Current</assignToReference>
            <operator>Subtract</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_UsagePeriod_Current</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Get_UsagePeriod_Index_Next</name>
        <label>Get Usage Period Index (Next)</label>
        <locationX>1096</locationX>
        <locationY>716</locationY>
        <assignmentItems>
            <assignToReference>Index_Next</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>US_Current.Index__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Index_Next</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UsagePeriod_Next</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>These parameters define the behaviour of the credits.</description>
        <name>Initialize_GeneralVariables</name>
        <label>Initialize General Variables</label>
        <locationX>1096</locationX>
        <locationY>984</locationY>
        <assignmentItems>
            <assignToReference>CarryoverFactor</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CarryoverFactor__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CarryoverLimit</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CarryoverLimit__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UsageTerm</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.UsageTerm__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Leftover</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Leftover</assignToReference>
            <operator>Subtract</operator>
            <value>
                <elementReference>US_Current.blng__TotalQuantity__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CreditCarryoverType</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>No_Carryover_Limits</name>
        <label>No Carryover Limits</label>
        <locationX>874</locationX>
        <locationY>1417</locationY>
        <assignmentItems>
            <assignToReference>CarryoverFactor</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>100.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CarryoverLimit</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Calculate_IndexWindowStart</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Leftover_to_Positive</name>
        <label>Set Leftover to Positive</label>
        <locationX>1098</locationX>
        <locationY>2392</locationY>
        <assignmentItems>
            <assignToReference>Leftover</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FX_Leftover_OnlyPositive</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Calculate_Leftover_with_Carryover</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_QuantityAvailable_for_NextPeriod</name>
        <label>Set Quantity Available for Next Period</label>
        <locationX>1311</locationX>
        <locationY>3170</locationY>
        <assignmentItems>
            <assignToReference>QuantityAvailable_Next</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>US_Next.QuantityAllowance__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QuantityAvailable_Next</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>US_Next.QuantityCarryover__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_BucketConsumptionSchedule</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Store_Previous_Upper_Bound</name>
        <label>Store Previous Upper Bound</label>
        <locationX>1640</locationX>
        <locationY>3989</locationY>
        <assignmentItems>
            <assignToReference>UpperBound_Current</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Consumption_Rates.SBQQ__UpperBound__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Rate_to_Update_Queue</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Both_Bounds</name>
        <label>Update Both Bounds</label>
        <locationX>1757</locationX>
        <locationY>3777</locationY>
        <assignmentItems>
            <assignToReference>Loop_Consumption_Rates.SBQQ__LowerBound__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>UpperBound_Current</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_Consumption_Rates.SBQQ__UpperBound__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Consumption_Rates.SBQQ__LowerBound__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_Consumption_Rates.SBQQ__UpperBound__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>FX_Usage_Delta</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Store_Previous_Upper_Bound</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_CreditLeftover</name>
        <label>Update Credit Leftover</label>
        <locationX>1392</locationX>
        <locationY>1760</locationY>
        <assignmentItems>
            <assignToReference>US.CreditLeftover__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FX_Leftover_OnlyPositive</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>US.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_UsageWindow.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LeftoverPool</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>FX_Leftover_OnlyPositive</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_UpdatedQueue</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Lower_Bound</name>
        <label>Update Lower Bound</label>
        <locationX>1640</locationX>
        <locationY>3777</locationY>
        <assignmentItems>
            <assignToReference>Loop_Consumption_Rates.SBQQ__LowerBound__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>UpperBound_Current</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Store_Previous_Upper_Bound</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Upper_Bound</name>
        <label>Update Upper Bound</label>
        <locationX>1525</locationX>
        <locationY>3776</locationY>
        <assignmentItems>
            <assignToReference>Loop_Consumption_Rates.SBQQ__UpperBound__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>QuantityAvailable_Next</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_Consumption_Rates.SBQQ__UpperBound__c</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Store_Previous_Upper_Bound</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>CreditCarryoverType</name>
        <label>Credit Carryover Type</label>
        <locationX>1088</locationX>
        <locationY>1128</locationY>
        <defaultConnector>
            <targetReference>Calculate_WindowStartDelta_Rolling</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Rolling</defaultConnectorLabel>
        <rules>
            <name>Pool</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CreditCarryoverType__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pool</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Calculate_WindowStartDelta_Pool</targetReference>
            </connector>
            <label>Pool</label>
        </rules>
    </decisions>
    <decisions>
        <name>CreditCarryoverType_0</name>
        <label>Credit Carryover Type</label>
        <locationX>1089</locationX>
        <locationY>1956</locationY>
        <defaultConnector>
            <targetReference>Calculate_QuantityCarryover_from_CurrentPeriodLeftover_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Rolling</defaultConnectorLabel>
        <rules>
            <name>Pool_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CreditCarryoverType__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pool</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Calculate_QuantityCarryover_from_PoolLeftover</targetReference>
            </connector>
            <label>Pool</label>
        </rules>
    </decisions>
    <decisions>
        <name>CreditCarryoverType_0_0</name>
        <label>Credit Carryover Type</label>
        <locationX>1235</locationX>
        <locationY>2734</locationY>
        <defaultConnector>
            <targetReference>Apply_CarryoverLimit</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Rolling</defaultConnectorLabel>
        <rules>
            <name>Pool_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CreditCarryoverType__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pool</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UsagePeriod_HasChanged_0</targetReference>
            </connector>
            <label>Pool</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_CarryoverLimit</name>
        <label>Has Carryover Limit?</label>
        <locationX>1088</locationX>
        <locationY>2686</locationY>
        <defaultConnector>
            <targetReference>CreditCarryoverType_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Yes</defaultConnectorLabel>
        <rules>
            <name>No_HasCarryoverLimit</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>CarryoverLimit</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CarryoverLimit</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_CreditLeftover_to_NextUsagePeriod</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Rate_Index_Selector</name>
        <label>Rate Index Selector</label>
        <locationX>1516</locationX>
        <locationY>3600</locationY>
        <defaultConnector>
            <targetReference>Calculate_Delta</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>All Others</defaultConnectorLabel>
        <rules>
            <name>IncludedRate</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Consumption_Rates.SBQQ__LowerBound__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Upper_Bound</targetReference>
            </connector>
            <label>Included Rate</label>
        </rules>
        <rules>
            <name>OverageRate</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Consumption_Rates.SBQQ__UpperBound__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Lower_Bound</targetReference>
            </connector>
            <label>Overage Rate</label>
        </rules>
    </decisions>
    <decisions>
        <description>Evaluate if Usage Period has changed (by checking whether the Billing Period and Usage Period are multiples).</description>
        <name>UsagePeriod_HasChanged</name>
        <label>Usage Period Has Changed?</label>
        <locationX>972</locationX>
        <locationY>1352</locationY>
        <defaultConnector>
            <targetReference>No_Carryover_Limits</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_UsagePeriodChanged</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>US_Next.RefreshPeriod__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Calculate_IndexWindowStart</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Evaluate if Usage Period has changed (by checking whether the Billing Period and Usage Period are multiples).</description>
        <name>UsagePeriod_HasChanged_0</name>
        <label>Usage Period Has Changed?</label>
        <locationX>1464</locationX>
        <locationY>2780</locationY>
        <defaultConnector>
            <targetReference>Apply_CarryoverLimit</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_UsagePeriodChanged_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>US_Next.RefreshPeriod__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_CreditLeftover_to_NextUsagePeriod_0</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <formulas>
        <name>FX_Carryover_WithCarryoverLimit</name>
        <dataType>Number</dataType>
        <expression>MIN( {!CarryoverLimit}, {!US_Next.QuantityCarryover__c} )</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>FX_Leftover_OnlyNegative</name>
        <dataType>Number</dataType>
        <expression>MIN({!Leftover},0)</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <description>The actual Leftover that can be carried over to the next month has to be positive.</description>
        <name>FX_Leftover_OnlyPositive</name>
        <dataType>Number</dataType>
        <expression>MAX({!Leftover},0)</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>FX_Leftover_WithCarryoverFactor</name>
        <dataType>Number</dataType>
        <expression>{!Leftover} * {!CarryoverFactor}/100</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>FX_Leftover_WithCarryoverLimit</name>
        <dataType>Number</dataType>
        <expression>MIN( {!CarryoverLimit}, {!US_Current.CreditLeftover__c} )</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>FX_LeftoverPool_WithCarryoverFactor</name>
        <dataType>Number</dataType>
        <expression>{!LeftoverPool} * {!CarryoverFactor}/100</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>FX_Usage_Delta</name>
        <dataType>Number</dataType>
        <expression>{!UpperBound_Next} - {!LowerBound_Current}</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>FX_WindowStartDelta</name>
        <dataType>Number</dataType>
        <expression>MOD( {!US_Current.Index__c} - 1, {!UsageTerm} )</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>Hybrid Usage - Update Usage Credits {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Hybrid Usage - Update Usage Credits</label>
    <loops>
        <name>Loop_Consumption_Rates</name>
        <label>Loop Consumption Rates</label>
        <locationX>1313</locationX>
        <locationY>3667</locationY>
        <collectionReference>Get_ConsumptionRates</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Rate_Index_Selector</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Consumption_Rates</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_through_UsageWindow</name>
        <label>Loop through Usage Window</label>
        <locationX>1098</locationX>
        <locationY>1758</locationY>
        <collectionReference>US_Window</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Discount_Usage_from_Leftover</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>CreditCarryoverType_0</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_BucketConsumptionSchedule</name>
        <label>Get Bucket Consumption Schedule</label>
        <locationX>1311</locationX>
        <locationY>3330</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_ConsumptionRates</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SBQQ__OrderItem__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <object>SBQQ__OrderItemConsumptionSchedule__c</object>
        <outputAssignments>
            <assignToReference>ConsumptionSchedule_ID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_ConsumptionRates</name>
        <label>Get Consumption Rates</label>
        <locationX>1313</locationX>
        <locationY>3477</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Consumption_Rates</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SBQQ__OrderItemConsumptionSchedule__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ConsumptionSchedule_ID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>SBQQ__OrderItemConsumptionRate__c</object>
        <sortField>SBQQ__LowerBound__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get the Available, Cumulative, and Consumed Quantities from the Current usage period.</description>
        <name>Get_UsagePeriod_Current</name>
        <label>Usage Period (Current)</label>
        <locationX>1096</locationX>
        <locationY>572</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_UsagePeriod_Index_Next</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>blng__OrderProduct__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>blng__SummaryEndDate__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>EndDate_Current</elementReference>
            </value>
        </filters>
        <object>blng__UsageSummary__c</object>
        <outputReference>US_Current</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Index__c</queriedFields>
        <queriedFields>QuantityAllowance__c</queriedFields>
        <queriedFields>QuantityCarryover__c</queriedFields>
        <queriedFields>blng__TotalQuantity__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>UsagePeriod_Next</name>
        <label>Usage Period (Next)</label>
        <locationX>1096</locationX>
        <locationY>855</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Initialize_GeneralVariables</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>blng__OrderProduct__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Index__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Index_Next</elementReference>
            </value>
        </filters>
        <object>blng__UsageSummary__c</object>
        <outputReference>US_Next</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>QuantityAllowance__c</queriedFields>
        <queriedFields>QuantityCarryover__c</queriedFields>
        <queriedFields>RefreshPeriod__c</queriedFields>
        <queriedFields>QuantityAvailable__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>UsagePeriods_in_RollingWindow</name>
        <label>Usage Periods in Rolling Window</label>
        <locationX>1098</locationX>
        <locationY>1574</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_through_UsageWindow</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Index__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>Index_WindowStart</elementReference>
            </value>
        </filters>
        <filters>
            <field>Index__c</field>
            <operator>LessThan</operator>
            <value>
                <elementReference>US_Current.Index__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>blng__OrderProduct__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <object>blng__UsageSummary__c</object>
        <outputReference>US_Window</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>CreditLeftover__c</queriedFields>
        <queriedFields>QuantityAllowance__c</queriedFields>
        <queriedFields>Index__c</queriedFields>
        <sortField>Index__c</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <recordUpdates>
        <name>Update_Consumption_Rates</name>
        <label>Update Consumption Rates</label>
        <locationX>1305</locationX>
        <locationY>4118</locationY>
        <connector>
            <targetReference>Update_UsagePeriods_RollingWindow</targetReference>
        </connector>
        <inputReference>UpdatedConsumptionRates</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_UsagePeriod_Current</name>
        <label>Update Current Usage Period</label>
        <locationX>1305</locationX>
        <locationY>4415</locationY>
        <connector>
            <targetReference>Update_UsagePeriod_Next</targetReference>
        </connector>
        <inputReference>US_Current</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_UsagePeriod_Next</name>
        <label>Update Next Usage Period</label>
        <locationX>1307</locationX>
        <locationY>4571</locationY>
        <inputReference>US_Next</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_UsagePeriods_RollingWindow</name>
        <label>Update Rolling Window Usage Periods</label>
        <locationX>1305</locationX>
        <locationY>4271</locationY>
        <connector>
            <targetReference>Update_UsagePeriod_Current</targetReference>
        </connector>
        <inputReference>US_Window_Updated</inputReference>
    </recordUpdates>
    <start>
        <locationX>970</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Get_UsagePeriod_EndDate_Current</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>blng__NextBillingDate__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>CreditCarryoverType__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>UsageType__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Minimum Commitment</stringValue>
            </value>
        </filters>
        <object>OrderItem</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>CarryoverFactor</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>CarryoverLimit</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>ConsumptionSchedule_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CreditValidity</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>EndDate_Current</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Index_Next</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>Index_WindowStart</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>Leftover</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>LeftoverPool</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>LowerBound_Current</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>QuantityAvailable_Next</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>QuantityCarryover</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>UpdatedConsumptionRates</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SBQQ__OrderItemConsumptionRate__c</objectType>
    </variables>
    <variables>
        <name>UpperBound_Current</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>UpperBound_Next</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>2.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>US</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>blng__UsageSummary__c</objectType>
    </variables>
    <variables>
        <name>US_Current</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>blng__UsageSummary__c</objectType>
    </variables>
    <variables>
        <name>US_Next</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>blng__UsageSummary__c</objectType>
    </variables>
    <variables>
        <name>US_Window</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>blng__UsageSummary__c</objectType>
    </variables>
    <variables>
        <name>US_Window_Updated</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>blng__UsageSummary__c</objectType>
    </variables>
    <variables>
        <name>UsageTerm</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>WindowStartDelta</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
</Flow>
