force-app/main/default/flows/HybridUsage_UploadUsage.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <decisions>
        <name>Is_UsageBucket</name>
        <label>Is Usage Bucket?</label>
        <locationX>1088</locationX>
        <locationY>356</locationY>
        <defaultConnector>
            <targetReference>Get_First_ConsumptionSchedule</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_UsageBucket</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>UsageType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Bucket</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>BucketMessageConfirmation</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>ConsumptionSchedule_Choice</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SBQQ__OrderItem__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OrderProduct_ID</elementReference>
            </value>
        </filters>
        <object>SBQQ__OrderItemConsumptionSchedule__c</object>
        <outputAssignments>
            <assignToReference>MatchingAttribute</assignToReference>
            <field>SBQQ__MatchingAttribute__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>UnitOfMeasure</assignToReference>
            <field>SBQQ__UnitOfMeasure__c</field>
        </outputAssignments>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>OrderProduct_Choice</name>
        <dataType>String</dataType>
        <displayField>ProductName__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OrderId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>UsageType__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>UsageType__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Minimum Commitment</stringValue>
            </value>
        </filters>
        <object>OrderItem</object>
        <outputAssignments>
            <assignToReference>OrderProduct_ID</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>MatchingID</assignToReference>
            <field>OrderItemNumber</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>UsageType</assignToReference>
            <field>UsageType__c</field>
        </outputAssignments>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <formulas>
        <name>Quantity_Default</name>
        <dataType>Number</dataType>
        <expression>BLANKVALUE({!UpperBound},{!LowerBound})</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Hybrid Usage - Upload Usage {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Hybrid Usage - Upload Usage</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Usage</name>
        <label>Create Usage</label>
        <locationX>1088</locationX>
        <locationY>1464</locationY>
        <inputAssignments>
            <field>blng__EndDateTime__c</field>
            <value>
                <elementReference>DateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>blng__MatchingAttribute__c</field>
            <value>
                <elementReference>MatchingAttribute</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>blng__MatchingId__c</field>
            <value>
                <elementReference>MatchingID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>blng__Quantity__c</field>
            <value>
                <elementReference>Quantity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>blng__StartDateTime__c</field>
            <value>
                <elementReference>DateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>blng__UnitOfMeasure__c</field>
            <value>
                <elementReference>UnitOfMeasure</elementReference>
            </value>
        </inputAssignments>
        <object>blng__Usage__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_ActiveUsageSummary</name>
        <label>Get Active Usage Summary</label>
        <locationX>1088</locationX>
        <locationY>1140</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Select_ConsumptionSchedule_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>blng__OrderProduct__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OrderProduct_ID</elementReference>
            </value>
        </filters>
        <filters>
            <field>blng__OrderItemConsumptionSchedule__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ConsumptionSchedule_ID</elementReference>
            </value>
        </filters>
        <filters>
            <field>blng__Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>New</stringValue>
            </value>
        </filters>
        <object>blng__UsageSummary__c</object>
        <outputAssignments>
            <assignToReference>SummaryEndDate</assignToReference>
            <field>blng__SummaryEndDate__c</field>
        </outputAssignments>
        <sortField>blng__SummaryEndDate__c</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Get_BaseConsumptionRate</name>
        <label>Get Base Consumption Rate</label>
        <locationX>1088</locationX>
        <locationY>989</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_ActiveUsageSummary</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SBQQ__OrderItemConsumptionSchedule__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ConsumptionSchedule_ID</elementReference>
            </value>
        </filters>
        <object>SBQQ__OrderItemConsumptionRate__c</object>
        <outputAssignments>
            <assignToReference>LowerBound</assignToReference>
            <field>SBQQ__LowerBound__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>UpperBound</assignToReference>
            <field>SBQQ__UpperBound__c</field>
        </outputAssignments>
        <sortField>SBQQ__ProcessingOrder__c</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Get_First_ConsumptionSchedule</name>
        <label>Get First Consumption Schedule</label>
        <locationX>1088</locationX>
        <locationY>692</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Select_ConsumptionSchedule</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SBQQ__OrderItem__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OrderProduct_ID</elementReference>
            </value>
        </filters>
        <object>SBQQ__OrderItemConsumptionSchedule__c</object>
        <outputAssignments>
            <assignToReference>ConsumptionSchedule_ID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <screens>
        <name>BucketMessageConfirmation</name>
        <label>Bucket Message Confirmation</label>
        <locationX>956</locationX>
        <locationY>476</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>No</backButtonLabel>
        <connector>
            <targetReference>Get_First_ConsumptionSchedule</targetReference>
        </connector>
        <fields>
            <name>BucketMessage</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;This is a Usage Bucket. Are you sure you want to upload usage directly?&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Yes</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Select_ConsumptionSchedule</name>
        <label>Select - Consumption Schedule</label>
        <locationX>1088</locationX>
        <locationY>845</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_BaseConsumptionRate</targetReference>
        </connector>
        <fields>
            <name>OrderProduct_Selected</name>
            <choiceReferences>OrderProduct_Choice</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>OrderProduct_ID</elementReference>
            </defaultValue>
            <fieldText>Order Product</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Selector_ConsumptionSchedule</name>
            <choiceReferences>ConsumptionSchedule_Choice</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>ConsumptionSchedule_ID</elementReference>
            </defaultValue>
            <fieldText>Consumption Schedule</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Select_ConsumptionSchedule_0</name>
        <label>Select - Consumption Schedule</label>
        <locationX>1088</locationX>
        <locationY>1292</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_Usage</targetReference>
        </connector>
        <fields>
            <name>OrderProduct_Selected_0</name>
            <choiceReferences>OrderProduct_Choice</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>OrderProduct_ID</elementReference>
            </defaultValue>
            <fieldText>Order Product</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>ConsumptionSchedule_Selected</name>
            <choiceReferences>ConsumptionSchedule_Choice</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>ConsumptionSchedule_ID</elementReference>
            </defaultValue>
            <fieldText>Consumption Schedule</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Quantity</name>
            <dataType>Number</dataType>
            <defaultValue>
                <elementReference>Quantity_Default</elementReference>
            </defaultValue>
            <fieldText>Quantity</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>2</scale>
        </fields>
        <fields>
            <name>DateTime</name>
            <dataType>DateTime</dataType>
            <defaultValue>
                <elementReference>SummaryEndDate</elementReference>
            </defaultValue>
            <fieldText>Date &amp; Time</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Select_OrderProduct</name>
        <label>Select - Order Product</label>
        <locationX>1096</locationX>
        <locationY>206</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Is_UsageBucket</targetReference>
        </connector>
        <fields>
            <name>OrderProduct</name>
            <choiceReferences>OrderProduct_Choice</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Product</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>970</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Select_OrderProduct</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>ConsumptionSchedule_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LowerBound</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>MatchingAttribute</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>MatchingID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OrderProduct_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SummaryEndDate</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>UnitOfMeasure</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>UpperBound</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>UsageType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
